
    <div class="scrollMembersGroups container">
  
    <% @groups.first(10).each do |group| %>

      <%= link_to group, method: :get, class: "specialA" do %>
        <div class="groupBlock">
          <%= image_tag(group.image_url(:group), class: "groupImageDisc") if group.image? %>

            <div class="groupTitleDisc2"><%= truncate(group.title, length: 25) %></div>
        </div>
      <% end %>

    <% end %>
  </div>