<%= stylesheet_link_tag "main", :media => "all" %>


<style type="text/css">
	
.termsTitle{
	margin-top: 40px;
	font-size: 25px !important;
}

.termsSubTitle{
	margin-top: 10px;
	font-size: 22px !important;
}


.termsTitleText{
	margin-top: 10px;
	font-size: 19px !important;
	font-weight: 900;
}
.termsText{
	margin-top: 20px;
	font-size: 18px !important;
}

.legalLinks{
	font-size: 18px !important;
}


</style>



<div class="container" >
	<div class="termsTitle text-center">
		PROXIMY COMMUNITY GUIDELINES
	</div>
	<div class="termsSubTitle text-center">
		20.05.11
	</div>
</div>
<div class="container" style="padding-right: 100px; padding-left: 100px;">
	<div class="termsText text-center" style="font-weight: 900;" >
		“Proximy is about positivity, kindness, diversity, and coming together to contribute to solving a global problem of ending social isolation.”  
	</div>
	<div class="termsText" style="font-weight: 900;">
		 - Proximy Team
	</div>
	<br><br>
	<div class="termsText">
		Proximy is a platform for creating meaningful connections with people in your proximity and these Guidelines are created to ensure everyone has a safe and enjoyable experience. Failure to follow these guidelines may result in losing access to our platform indefinitely. 
	</div>
	<br><br>

	<div class="termsTitleText">
		Respect:
	</div>
	<div class="termsText">
		Culture and diversity are at the root of who we are as a community. This means you should respect people’s interests, beliefs, cultures, and opinions. Proximy will take a strong stance against any form of racism, hate speech, and abusive behaviour. We encourage all of our community users to report those who do not follow these guidelines.
	</div>
	<br><br>


	<div class="termsTitleText">
		Speech:
	</div>
	<div class="termsText">
		Social isolation is a global problem with each individual facing it in their own way. How you talk to people, and how you want to be spoken to reflects through the content you post and the words that you write. Please be empathetic and respectful with others on the platform. Our goal is to end social isolation and bring people together so communicate how you would if you were meeting them in person, because that is the goal. Your speech should bring people together, not spread us further apart.
	</div>


	<br><br>


	<div class="termsTitleText">
		Scamming and Spamming:
	</div>
	<div class="termsText">
		Proximy is for helping our community, not abusing it. Scamming or spamming will not be tolerated. This includes: financial solicitation, creating intentionally false events or groups, forcibly pushing a personal agenda or company products, repetitive comments, any physical or emotional scams as well as misleading photos, links or posts designed to trick users.
	</div>


	<div class="termsText">
		Content on Proximy is meant for community involvement and creating opportunities for its users to get engaged locally. The content is not meant and should never be used maliciously against other users in an attempt to stalk, hurt, defame or negatively impact others lives or intentionally cause harm. 
	</div>

	<br><br>


	<div class="termsTitleText">
		Sexual Conduct:
	</div>
	<div class="termsText">
		We value your freedom of expression, however we do not permit nudity or sexually explicit content anywhere on the platform. Proximy is not a dating app and all in-person meetings are expected to be non-sexual.
	</div>

		<br><br>


	<div class="termsTitleText">
		Impersonation:
	</div>
	<div class="termsText">
		Your Proximy profile should be an accurate representation of you. The community is built of real people embracing each other's differences and uniqueness. Please do not catfish other members or pretend to be someone you are not.
	</div>

	<br><br>


	<div class="termsTitleText">
		Reporting:
	</div>
	<div class="termsText">
		To keep our community safe, please report anything that violates our guidelines or anything that you feel is inappropriate for the platform. We are all part of the community and it will flourish if we use it for its intended purpose. Please report any concerning content or profiles directly to info@proximy.ca.
	</div>

	<br><br>


	<div class="termsTitleText">
		Feedback:
	</div>
	<div class="termsText">
		We will be consistently improving our online community. If you have any constructive feedback, please get in touch with our team at info@proximy.ca. Help us improve the platform experience by reporting violations, bugs, errors, and suggestions!
	</div>

	<div class="termsText">
		If you do not choose to follow these guidelines, you will receive a warning (unless the team decides to block without warning at our discretion). If you choose to ignore the warning, you will risk losing your Proximy account. These guidelines are designed to make Proximy a safe place for all of our users to enjoy and focus on our mission of ending social isolation.
	</div>


</div>





































