<%= stylesheet_link_tag "main", :media => "all" %>


<style type="text/css">
	
.termsTitle{
	margin-top: 40px;
	font-size: 25px !important;
}

.termsSubTitle{
	margin-top: 10px;
	font-size: 22px !important;
}


.termsTitleText{
	margin-top: 10px;
	font-size: 19px !important;
	font-weight: 900;
}
.termsText{
	margin-top: 20px;
	font-size: 18px !important;
}

.legalLinks{
	font-size: 18px !important;
}


</style>

<div class="container" style="padding-right: 35px; padding-left: 35px;">
	<div class="termsTitle" style="text-align: center;">
		PROXIMY TECHNOLOGIES INC. 
	</div>


	<div style="text-align: center; margin-top: 10px; font-size: 19px !important; font-weight: 900;">
		www.proximy.ca
	</div>

	<div class="termsSubTitle" style="text-align: center;">
		TERMS OF USE
	</div>

	<div class="termsText" >
		Updated: May 14, 2020
	</div>


	<br><br>

	<div class="termsTitleText">
		Acceptance of Terms by Use
	</div>

	<div class="termsText">
		Proximy Technologies Inc., carrying on business as “Proximy” and www.proximy.ca, its subsidiaries and affiliates (“Provider”) requires that all users and visitors accessing its  www.proximy.ca site (the “Site”) and/or accessing or using its products and/or services and related information  provided to you by the Provider, either through the Site or by other means or media, and including but not limited to software, applications and data (collectively, the “Provider Materials”) adhere to the following terms and conditions of use (the “Terms of Use”).  By accessing or otherwise using the Site and/or the Provider Materials, you confirm your acknowledgment and acceptance of these Terms of Use and your agreement to be bound by all such terms and conditions.  You acknowledge and agree that we may update these Terms of Use at any time by posting revisions to the Site, and your continued use of the Site and any of the Provider Materials shall constitute your acceptance of all such revisions in respect of your use of the Site and such Provider Materials. <br><br>

		You are responsible for providing all equipment and software necessary to connect to the Site or otherwise use the Provider Materials, and you are responsible for any fees, including internet connection, mobile data services and similar fees that you incur when accessing the Site or using the Provider Materials. <br><br>


		If you do not agree with these Terms of Use or the Provider’s Privacy Policy (as described below), you must not access or use the Site or any Provider Materials and the Provider grants you no right to do so.  Notwithstanding the foregoing, if you are accessing the Services or the Provider Materials as obtained through an authorized third party (such as the AppleTM App StoreTM) and pursuant to the terms of an applicable end user license agreement with such third party and/or with the Provider, the terms of that end user license agreement (which may incorporate these Terms of Use by reference) shall apply.<strong>You should carefully review these Terms of Use and, if you do not agree with them, you should exit the Site and discontinue any use of the Provider Materials immediately.</strong>
	</div>

	<br><br>

	<div class="termsTitleText">
		These Terms of Use were last updated on the date first noted above.
	</div>

	<div class="termsText">
		BY AGREEING TO THESE TERMS AND CONDITIONS, YOU CONFIRM THAT YOU UNDERSTAND AND INTEND THESE TERMS OF USE TO BE THE LEGAL EQUIVALENT OF A SIGNED, WRITTEN CONTRACT AND EQUALLY BINDING, AND THAT YOU ACCEPT SUCH TERMS OF USE AND AGREE TO BE LEGALLY BOUND BY THEM. Additionally, you confirm your understanding that these Terms of Use shall apply to any Provider mobile application or Provider content on third party social media services (e.g., a Provider FacebookTM page) that reference these Terms of Use. In such instances, the terms “Site” and “Provider Materials” shall include the applicable mobile application or Provider content whenever such terms are used herein.
	</div>


		<br><br>

	<div class="termsTitleText">
		Parents/Guardians of Minors
	</div>

	<div class="termsText">
		If you are under the age of majority in your jurisdiction of residence, you represent and warrant that your parent or legal guardian has reviewed and agreed to these Terms of Use and has guaranteed your adherence to these Terms of Use.
	</div>




		<br><br>

	<div class="termsTitleText">
		Trial Service Acknowledgement
	</div>

	<div class="termsText">
		You acknowledge that we may, but are not obligated to, offer certain products, services and/or accounts on a trial and/or promotional basis.  You further acknowledge and agree that we may limit the number and usage of such products, services and/or accounts in our sole and absolute discretion. 
	</div>



	
		<br><br>

	<div class="termsTitleText">
		Laws and Regulations
	</div>

	<div class="termsText">
		Your access to and use of the Site is subject to all applicable international, federal, provincial and local laws and regulations.
	</div>


			<br><br>

	<div class="termsTitleText">
		Copyright/Trade Marks
	</div>

	<div class="termsText">
		The trademarks, logos and service marks (“Marks”) displayed on the Site are the property of Provider and other parties. Users are prohibited from using any Marks for any purpose including, but not limited to use as metatags on other pages or sites on the Internet without the written permission of Provider or such third party which may own the Marks. All information and content available on or through the Site (collectively, the “Content”) and all Provider Materials are protected by copyright. Users are prohibited from modifying, copying, distributing, transmitting, displaying, publishing, selling, licensing, creating derivative works of any Content and/or Provider Materials and from or using any Content and/or Provider Materials for commercial or other public purposes.  All Conent and Provider Materials are provided solely for private, non-commercial use unless other expressly agreed by the Provider in writing.
	</div>


				<br><br>

	<div class="termsTitleText">
		Violation of Third Party Rights
	</div>

	<div class="termsText">
		You represent, warrant and covenant that all materials of any kind that are uploaded to or transmitted through the Site and/or the Provider Materials will not violate or infringe upon the rights of any third party including, but not limited to, any trade secret, copyright, trademark, service mark, trade dress, patent, privacy or other personal or proprietary rights of any such third parties.  You further represent, warrant and covenant that your use of the Site and/or the Provider Materials will not violate or infringe upon the trademark, service mark, trade dress privacy or other personal or proprietary rights of any third party.  Without limiting any other rights and remedies of the Provider, the Provider may suspend the operation and use of the Site and/or the Provider Materials and/or user accounts if it determines, acting reasonably but in its sole and absolute discretion, that the continued use thereof will infringe on the intellectual property, privacy or other personal or proprietary rights of any third party.  Provider may terminate the privileges of any user who utilizes the Site and/or the Provider Materials to unlawfully transmit, link or otherwise provide access to copyrighted material without a valid license, express consent of the copyright owner or a fair use exemption (or equivalent under applicable law) and the user shall have the burden of establishing the same to the satisfaction of the Provider, in its sole discretion.
	</div>


					<br><br>

	<div class="termsTitleText">
		DMCA Policy
	</div>

	<div class="termsText">
		It is the Provider’s policy to respond to notices of alleged copyright infringement that are made in compliance with the Digital Millennium Copyright Act of 1998 (as amended).  If you wish to provide notice of alleged copyright infringement, you must provide the necessary information in the form required by 17 U.S.C. Section 512 as set out in the  <%= link_to "DMCA Policy", main_dmca_path, method: :get, class: "legalLinks" %> section of the Site . Provider may, in its sole and absolute discretion, terminate or suspend access to the Site, or any portion thereof, and/or cancel the account of any user who repeatedly infringes or who is repeatedly alleged to have infringed the copyright or other intellectual property rights of third parties.  Provider accommodates and does not interfere with standard digital rights management and other technical measures employed by copyright owners to protect their proprietary materials.
	</div>

	<br><br>


	<div class="termsTitleText">
		Limited License
	</div>

	<div class="termsText">
		Subject to your compliance with these Terms of Use, Provider hereby grants you a limited, revocable, non-exclusive, non-transferable license, without the right to sublicense, to access and utilize the Site and the Provider Materials.  You shall not acquire any ownership rights in the Content or in the Provider Materials.  Except as expressly permitted under these Terms of Use, you will have no right to, directly or indirectly, own, use, loan, sell, rent, lease, license, sublicense, assign, copy, translate, transmit, modify, adapt, enhance, improve, create any derivative works from the Site or the Provider Materials, disclose any part or feature of the Site or the Provider Materials that the Provider has not publicly disclosed, or display, distribute, publicly perform or any other way commercially exploit the Site, the Content or the Provider Materials in whole or in part.  You acknowledge and agree that the Provider may modify, suspend or remove any content or features of the Site, the Conent and/or the Provider Materials at any time in our sole and absolute discretion. <br><br>


		YOU MAY NOT SELL, ASSIGN OR SUBLICENSE ANY PROVIDER MATERIALS AQUIRED BY YOU AND ANY ATTEMPT TO DO SO WILL ENTITLE PROVIDER, IN ITS SOLE AND ABSOLUTE DISCRETION, TO CANCEL YOUR USER ACCOUNT REGISTRATION AND, IN SUCH EVENT, YOU WILL NOT BE ENTITLED TO ANY REFUND OF FEES PAID TO PROVIDER BY YOU.  WITHOUT LIMITING THE FOREGOING, IF THE PROVIDER DETERMINES, ACTING REASONABLY BUT IN ITS SOLE AND ABSOLUTE DISCRETION, THAT YOU HAVE REPEATEDLY VIOLATED THE PROHIBITION ON SALE, ASSIGNMENT AND SUBLICENSING OF PROVIDER MATERIALS, PROVIDER MAY, IN ITS SOLE AND ABSOLUTE DISCRETION, SUSPEND AND/OR CANCEL YOUR ACCOUNT, ALL WITHOUT REFUND OF ANY FEES PAID TO PROVIDER BY YOU. 
	</div>


		<br><br>


	<div class="termsTitleText">
		User Accounts
	</div>

	<div class="termsText">
		In order to access and use certain features of the Site, you may be required the register an USER account (the “Account”) through the Site and/or the Provider Materials.  When you create or update an Account, you will be required to provide certain personal information, which may include your name, address, telephone number, birth date, e-mail address and/or payment information.  This information will be retained and used by Provider in accordance with its <%= link_to "Privacy Policy", main_privacy_path, method: :get, class: "legalLinks" %>.  You agree that all information provided by you will be accurate and complete and that you will promptly update such information if and when it changes.<br><br>

		NOTWITHSTANDING ANY OTHER PROVISION IN THESE TERMS OF USE, YOU ACKNOWLEDGE AND AGREE THAT YOU WILL NOT ACQUIRE ANY OWNERSHIP OR OTHER PROPERTY RIGHT IN YOUR ACCOUNT, AS SUCH.  
	</div>


		<br><br>


	<div class="termsTitleText">
		User Names and Passwords
	</div>

	<div class="termsText">
		When you register an Account, you will be required to select a user name (which must be a valid e-mail address) and a password which you may change at any time (the “Login Information”).  Your user name may be publicly visible in certain areas of the Site and/or the Provider Materials.  For this reason, you should avoid choosing a user name that could compromise the security of any of your personal information. We reserve the right to reject and/or remove any user name and to require you to choose a different user name at any time and for any reason in our sole and absolute discretion, including but not limited to where a third party claims that the user name violates its rights.  You agree that you will not select or use a user name that is the name of, or makes reference to, another person or entity for the purposes of impersonating that person or entity or for falsely creating the appearance that you are associated with the person or entity.  You agree that you will not select or use a user name in which another person or entity has legal rights unless you have that person or entity’s express permission to do so.  You agree that you will not select or use a user name that a reasonable person would consider to be offensive.<br><br>

		You are solely responsible for preserving the confidentiality of your password and the Account and you are solely and completely responsible for all activities that occur within or through your Account and under your password.  You should not provide your password to anyone else and you should change your password regularly and any time you believe that another person has knowledge of your password.  You are not permitted to share your Account or Login Information or to allow any other person to access to your Account.  You agree to notify us immediately if you become aware of any unauthorized use of your password or your Account, or any other security breach involving your Account or the Site at <STRONG>info@proximy.ca</STRONG>. We are not responsible for any unauthorized access to your Account even if you have advised us of a security breach.  You will be responsible for all activities that occur through your Account, including but not limited to purchases, whether or not such activities have been authorized by you.

	</div>


	<br><br>


	<div class="termsTitleText">
		Accessing Your Account
	</div>

	<div class="termsText">
		Each time that you log into and access the Account, you represent and warrant that:
		<div style="padding-right: 30px !important; padding-left: 30px !important;">
			(a)	you are the person who registered the Account;<br>
			(b)	all of the personal information currently submitted by you in connection with the Account is complete and accurate;<br>
			(c)	you are using the products and services solely for permitted purposes and in compliance with these Terms of Use;<br>
			(d)	you are accessing the Site solely for your own personal, private non-commercial purposes;<br>
			(e)	you are not, and are not acting on behalf of, any competitor or prospective competitor of the Provider;<br>
			(f)	you are not accessing the Site for the purposes of any dispute or litigation involving the Provider;<br>
			(g)	you are not accessing the Site for any illegal purpose or to advertise, solicit or communicate and advertisements, and<br>
			(h)	you will logoff and exit the Account at the end of each session.
		</div>

	</div>


		<br><br>


	<div class="termsTitleText">
		Privacy
	</div>

	<div class="termsText">
		Except as required by law and in accordance with the Provider’s <%= link_to "Privacy Policy", main_privacy_path, method: :get, class: "legalLinks" %>, Provider will maintain the confidentiality of all user communications which contain personally identifiable user information and which are transmitted directly to Provider. Postings by a user on any message board or in any chat room will not be protected as confidential and Provider may use and provide information contained in any such postings (including any ideas, concepts, know-how or other intellectual property) to any of its parent, subsidiaries and affiliates for any purpose whatsoever and as deemed appropriate by Provider.  Provider may compile and use non-personally identifiable information for statistical, research, demographic and marketing purposes.  User should be aware that Linked Sites (as defined below) may contain confidentiality provisions that differ from the provisions provided herein. Provider is not responsible for such provisions, and expressly disclaims any and all liability related to such provisions.
	</div>


			<br><br>


	<div class="termsTitleText">
		Transmission of Personal Data
	</div>

	<div class="termsText">
		User acknowledges and agrees that by providing Provider with any personal or proprietary user information through the Site, user consents to the transmission of such personal or proprietary user information over international borders as necessary for processing in accordance with Provider’s standard business practices. User should be aware that Linked Sites may contain transmission of personal data provisions that differ from the provisions provided herein. Provider is not responsible for such provisions, and expressly disclaims any and all liability related to such provisions.
	</div>


	<br><br>


	<div class="termsTitleText">
		Postings
	</div>
	<div class="termsText">
		Provider is under no obligation to review any messages, information, feedback and/or other content (“Postings”) posted in any public or private area within the Site and/or the Provider Materials by users and assumes no responsibility or liability relating to any such Postings. Notwithstanding the above, Provider may from time to time monitor the Postings on the Site and/or within the Provider Materials and may decline to accept and/or remove any Postings that contain:
		<div style="padding-right: 30px !important; padding-left: 30px !important;">
			(a)	any unlawful, harmful, threatening, abusive, harassing, defamatory, vulgar, obscene, profane, hateful, racially, ethnically or otherwise objectionable material of any kind, including, but not limited to, any material which encourages conduct that would constitute a criminal offence, give rise to civil liability or otherwise violate any applicable local, state, national or international law;<br>
			(b)	advertisements or solicitations of any kind;<br>
			(c)	messages posted by users impersonating others;<br>
			(d)	personal information such as messages which state phone numbers, government issued identification numbers, account numbers, addresses, or employer references;<br>
			(e)	messages by non-spokesperson employees of Provider purporting to speak on behalf of Provider or containing confidential information or expressing opinions concerning Provider;<br>
			(f)	messages that offer unauthorized downloads of any copyrighted or private information; or<br>
			(g)	multiple messages placed within individual folders by the same user restating the same point.

		</div>
		<br><br>
		Posting may include, without limitation, responses to satisfaction surveys, beta user feedback, message boards, blogs, chat features, messaging and/or comment functionalities, but excluding any personal logs. Any ideas, suggestions, information, feedback, know-how, material, and any other content comprising any Postings which are posted and/or received through the Site, the Provider Materials or otherwise will be deemed to include a worldwide, royalty-free, fully paid-up, perpetual, irrevocable, non-exclusive, transferable and fully sublicensable (through multiple tiers) right and license for the Provider to adopt, publish, reproduce, disseminate, transmit, distribute, copy, use, create derivative works, display, (in whole or part) worldwide, or act on such Postings without additional approval or consideration, in any form, media, or technology now known or later developed for the full term of any rights that may exist in such Postings. You hereby waive: (i) any claim to the contrary; and (ii) any “moral rights” associated with your Postings. You represent and warrant that you have all rights necessary for you to grant the foregoing license, and that each Posting you provide through the Site, the Provider Materials or otherwise complies with all applicable laws, rules and regulations. You are and remain responsible and liable for the content of any Postings. IF YOU DO NOT WISH TO GRANT THE RIGHTS GRANTED IN THIS SECTION, PLEASE DO NOT POST, TRANSMIT OR OTHERWISE MAKE ANY POSTING. ANY POSTINGS MADE ARE DONE SO AT YOUR OWN RISK. Please note, the Provider does not control any of the user-submitted Postings, they do not reflect the opinion of the Provider, and the Provider does not guarantee their accuracy or endorse any of the opinions expressed. The Provider is not responsible or liable for: (i) any Postings, including, without limitation, any errors or omissions in such Postings, links or images embedded therein, or results obtained by using any of the same; or (ii) any loss or damage caused by the Postings or resulting from the use (including without limitation republication) or misuse thereof by any third party, including your reliance thereon.
	</div>



	<br><br>


	<div class="termsTitleText">
		Beta Use
	</div>

	<div class="termsText">
		During any beta use period (as indicated in any customer order and/or in the Provider Materials)(the “Beta Period”), you agree (i) to promptly report to the Provider any perceived defects, bugs, errors and other malfunctions in the Site, the Content and/or the Provider Materials experienced by you and (ii) upon discovery of any catastrophic or other material defect, to suspend all use of the Site and the Provider Materials until further written notice by the Provider.  You further agree that the Provider may request periodic evaluations of the Site, the Content and/or the Provider Materials, including both positive and negative aspects, provided that your participation in any such evaluation shall always be voluntary.  Unless earlier terminated, upon the end of any Beta Period, these Terms of Use, as applicable to standard (non-beta) usage shall continue to apply including, but not limited to, any fees referred to in any customer order.    Without limiting any other provision of these Terms of Use or the Privacy Policy, during any Beta Period, the Provider may collect data (the “Beta Data) through the Site, the Provider Materials and/or any Postings, concerning your usage of the Site and/or the Provider Materials; provided, however, that Beta Data must not contain any personally identifying information (such as name, residential address, telephone number or any government issued identification numbers).  The Beta Data, other than the Posting (the use of which is governed by the Postings section of these Terms of Use) shall be owned by the Provider and may be used by the Provider for any purpose.
	</div>


		<br><br>


	<div class="termsTitleText">
		No Warranties
	</div>

	<div class="termsText">
		ALL PROVIDER MATERIALS AND OTHER CONTENT ON THE SITE, OR OBTAINED FROM A WEB SITE TO WHICH THE SITE OR PROVIDER MATERIALS IS LINKED (A “LINKED SITE”) ARE PROVIDED TO YOU “AS IS” WITHOUT ANY WARRANTY OF ANY KIND EITHER EXPRESS OR IMPLIED INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT, SECURITY OR ACCURACY. PROVIDER DOES NOT ENDORSE AND IS NOT RESPONSIBLE FOR THE ACCURACY OR RELIABILITY OF ANY OPINION, ADVICE OR STATEMENT MADE THROUGH THE SITE OR A LINKED SITE BY ANY PARTY OTHER THAN PROVIDER, OR THE CAPABILITIES OR RELIABILITY OF ANY PRODUCT OR SERVICE OBTAINED FROM A LINKED SITE. OTHER THAN AS REQUIRED UNDER APPLICABLE CONSUMER PROTECTION LAW, UNDER NO CIRCUMSTANCE WILL PROVIDER BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY A USER’S RELIANCE ON INFORMATION OBTAINED THROUGH THE SITE OR A LINKED SITE, OR USER’S RELIANCE ON ANY PRODUCT OR SERVICE OBTAINED FROM A LINKED SITE. IT IS THE RESPONSIBILITY OF THE USER TO EVALUATE THE ACCURACY, COMPLETENESS OR USEFULNESS OF ANY OPINION, ADVICE OR OTHER CONTENT AVAILABLE THROUGH THE SITE, OR OBTAINED FROM A LINKED SITE. PLEASE SEEK THE ADVICE OF PROFESSIONALS, AS APPROPRIATE, REGARDING THE EVALUATION OF ANY SPECIFIC OPINION, ADVICE, PRODUCT, SERVICE, OR OTHER CONTENT.
	</div>


	<br><br>


	<div class="termsTitleText">
		Limitation of Liability For Use of the Site and Linked Sites
	</div>

	<div class="termsText">
		THE INFORMATION, SOFTWARE, PRODUCTS AND DESCRIPTIONS OF SERVICES PUBLISHED ON THE SITE OR A LINKED SITE MAY INCLUDE INACCURACIES OR TYPOGRAPHICAL ERRORS, AND PROVIDER SPECIFICALLY DISCLAIMS ANY LIABILITY FOR SUCH INACCURACIES OR ERRORS. CHANGES ARE PERIODICALLY MADE TO THE INFORMATION ON THE SITE AND LINKED SITES. PROVIDER MAY MAKE IMPROVEMENTS OR CHANGES TO THE SITE AT ANY TIME. EXCEPT WHERE APPLICABLE LAWS MANDATES OTHERWISE, YOU AGREE THAT PROVIDER, ITS AFFILIATES AND ANY OF THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS WILL NOT BE LIABLE, WHETHER IN CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE, FOR ANY DIRECT, INDIRECT, PUNITIVE, CONSEQUENTIAL, INCIDENTAL OR SPECIAL DAMAGES (INCLUDING WITHOUT LIMITATION LOST PROFITS, COST OF PROCURING SUBSTITUTE SERVICE OR LOST OPPORTUNITY) ARISING OUT OF OR IN CONNECTION WITH THE USE OF THE SITE OR A LINKED SITE, OR WITH THE DELAY OR INABILITY TO USE THE SITE OR A LINKED SITE, EVEN IF PROVIDER IS MADE AWARE OF THE POSSIBILITY OF SUCH DAMAGES. THIS LIMITATION OF LIABILITY INCLUDES, BUT IS NOT LIMITED TO, THE TRANSMISSION OF ANY VIRUSES WHICH MAY INFECT A USER’S EQUIPMENT, FAILURE OF MECHANICAL OR ELECTRONIC EQUIPMENT OR COMMUNICATION LINES, TELEPHONE OR OTHER INTERCONNECT PROBLEMS (e.g., YOU CANNOT ACCESS YOUR INTERNET SERVICE PROVIDER), UNAUTHORIZED ACCESS, THEFT, LOSS OF DATA, OPERATOR ERRORS, STRIKES OR OTHER LABOUR PROBLEMS OR ANY FORCE MAJEURE. PROVIDER CANNOT AND DOES NOT GUARANTEE CONTINUOUS, UNINTERRUPTED OR SECURE ACCESS TO THE WEB SITE.  WITHOUT LIMITING THE FOREGOING, UNDER NO CIRCUMSTANCES WILL THE PROVIDER BE LIABLE TO YOU FOR ANY AMOUNT THAT EXCEEDS THE AGGREGATE OF ALL FEES PAID BY YOU TO PROVIDER.
	</div>


		<br><br>


	<div class="termsTitleText">
		Limitation of Liability for Services Arranged Through the Site and/or the Provider Materials
	</div>

	<div class="termsText">
		YOU AGREE THAT PROVIDER IS A MERE REPRESENTATIVE FOR THE SUPPLIERS OF THIRD PARTY GOODS AND SERVICES ADVERTISED ON OR AVAILABLE THROUGH THE SITE AND/OR THE PROVIDER MATERIALS. ANY AND ALL CLAIMS REGARDING ANY FAILURE OR BREACH WITH RESPECT TO THE THIRD PARTY GOODS AND SERVICES OFFERED THROUGH THE SITE AND/OR THE PROVIDER MATERIALS ARE LIMITED TO CLAIMS AGAINST ANY AND ALL SUCH SERVICE SUPPLIERS. THE PROVIDER HEREBY DISCLAIMS ANY LIABILITY, WHETHER BASED ON CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE, INCLUDING WITHOUT LIMITATION LIABILITY FOR ANY DIRECT, INDIRECT, PUNITIVE, CONSEQUENTIAL, INCIDENTAL OR SPECIAL DAMAGES, IN CONNECTION WITH THE GOODS OR SERVICES PROVIDED BY ANY CARRIER OR OTHER SUPPLIER THROUGH THE SITE, INCLUDING WITHOUT LIMITATION LIABILITY FOR ANY ACT, ERROR, OMISSION, INJURY, LOSS, ACCIDENT, DELAY OR IRREGULARITY WHICH MAY BE INCURRED THROUGH THE FAULT, NEGLIGENT OR OTHERWISE, OF SUCH CARRIER OR SUPPLIER AND YOU HEREBY EXONERATE PROVIDER FROM ANY LIABILITY WITH RESPECT TO THE SAME.  WITHOUT LIMITING THE FOREGOING, UNDER NO CIRCUMSTANCES WILL THE PROVIDER BE LIABLE TO YOU FOR ANY AMOUNT THAT EXCEEDS THE AGGREGATE OF ALL FEES PAID BY YOU TO PROVIDER. 
	</div>


		<br><br>


	<div class="termsTitleText">
		Linked Internet Sites
	</div>

	<div class="termsText">
		The Provider prohibits caching, unauthorized hypertext links to the Site and the framing of any Content available through the Site. Provider reserves the right to disable any unauthorized links or frames and specifically disclaims any responsibility for the Content available on any other Internet sites linked to the Site. Access to any other Internet sites linked to the Site is at the user’s own risk. User should be aware that Linked Sites may contain rules and regulations, privacy provisions, confidentiality provisions, transmission of personal data provisions, and other provisions that differ from the provisions provided on the Site. Provider is not responsible for such provisions, and expressly disclaims any and all liability related to such provisions.
	</div>

			<br><br>


	<div class="termsTitleText">
		Assumption of Risk
	</div>

	<div class="termsText">
		Without limiting any other provisions of these Terms of Use, you agree that your use of the Internet is solely at your own risk and subject to all applicable local, provincial, state, national, and international laws and regulations. While the Provider and its service providers have endeavored to create a secure and reliable website, please be advised that the confidentiality of any communication or material transmitted to/from the Site and/or through the Provider Materials over the Internet cannot be guaranteed. Accordingly, the Provider and its service licensors and service providers are not responsible for the security of any information transmitted via the Internet, the accuracy of the information contained on the Site and/or in the the Provider Materials, or for the consequences of any reliance on such information. The Provider and its licensors and suppliers shall have no liability for interruptions or omissions in Internet, network or hosting services. You assume the sole and complete risk of using the Site and/or the Provider Materials. 
	</div>


	<br><br>


	<div class="termsTitleText">
		Export Restrictions
	</div>
	<div class="termsText">
		No Provider Materials, and no software or any other materials associated with the Site and/or the Content, may be downloaded, obtained or otherwise exported or re-exported to countries or persons prohibited under relevant export control laws, including, without limitation, countries against which the United States has embargoed goods, or to anyone on the U.S. Treasury Department list of Specially Designated Nationals and Blocked Persons or the U.S. Commerce Department’s Table of Deny Orders. You are responsible for compliance with the laws of your local jurisdiction regarding the import, export, or re-export of any such materials. By using and/or downloading any such materials from this Site, through the Provider Materials or as  provided in any other manner by the Provider, you represent and warrant that you are not located in, under the control of, or a national or resident of any such country to which such import, export, or re-export is prohibited or are not a person or entity to which such export is prohibited.
	</div>

		<br><br>


	<div class="termsTitleText">
		Violations of Terms of Use
	</div>

	<div class="termsText">
		You agree and acknowledge that Provider may, in its sole and absolute discretion and without prior notice to you, terminate or suspend your access to the Site and your use of the Provider Materials, or any portion thereof, and/or cancel your Account if Provider reasonably believes that you have failed to comply with these Terms of Use or that your use of the Site and/or the Provider Materials violates the rights of any third party or any applicable laws.  In addition to the foregoing, the Provider reserves the right to pursue all remedies available at law and in equity for violations of these Terms of Use, including but not limited to the right to block access from a particular Internet address to the Site and/or the Provider Materials.  You agree and acknowledge that monetary damages may not be an adequate remedy for any violation of these Terms of Use by you and, without limiting any of the Provider’s other remedies, you hereby consent to, and authorize the Provider to obtain, an injunction or other equitable relief from any court of competent jurisdiction.  You further authorize the provider to disclose your personally identifiable information where reasonably necessary in connection with the foregoing.
	</div>


		<br><br>


	<div class="termsTitleText">
		INDEMNIFICATION
	</div>

	<div class="termsText">
		YOU HEREBY AGREE TO DEFEND, INDEMNIFY AND HOLD HARMLESS THE PROVIDER AND ITS DIRECTORS, OFFICERS, EMPLOYEES, AGENTS, SUCCESSORS, ADMINISTRATORS AND ASSIGNS FROM AND AGAINST ALL LIABILITIES, CLAIMS, ACTIONS, CAUSES OF ACTION, COSTS AND EXPENSES (INCLUDING LEGAL EXPENSES ON A FULL INDEMNITY BASIS) THAT ARISE FROM YOUR VIOLATION OF ANY OF THESE TERMS OF USE, FROM YOUR USE OR MISUSE OF THE SITE OR YOUR USE OR MISUSE OF ANY LINKED SITES
	</div>

			<br><br>


	<div class="termsTitleText">
		Enforcing Security
	</div>

	<div class="termsText">
		Access to and use of password protected and/or secure areas of the Site and/or the Provider Materials is restricted to authorized users only. Actual or attempted unauthorized use of any of the Site, Content and/or Provider Materials may result in criminal and/or civil prosecution. For your protection, the Provider reserves the right to view, monitor, and record activity on the Site without notice or further permission from you, to the fullest extent permitted by applicable law. Any information obtained by monitoring, reviewing, or recording is subject to review by law enforcement organizations in connection with the investigation or prosecution of possible criminal activity on any of the Site or within the Provider Materials. The Provider will also comply with all court orders involving requests for information. 
	</div>


				<br><br>


	<div class="termsTitleText">
		Use of “Cookies”
	</div>

	<div class="termsText">
		Provider reserves the right to store information on a user’s computer in the form of a “cookie” or similar file for purposes of modifying the Site and/or the Provider Maerials to reflect users’ preferences. The Provider Privacy Policy provides additional information regarding Provider’s use of cookies as well as procedures for disabling cookies.
	</div>


					<br><br>


	<div class="termsTitleText">
		Updates
	</div>

	<div class="termsText">
		You acknowledge and agree that the Site and the products and services accessible through it are under continual development and may include either public updates, which a generally available to all users, or private updates which are available to a smaller number of users for testing and feedback before being made generally available.  You further acknowledge and agree that you may be required to accept public updates to the Site from time to time in order to continue to access the Site, the Provider Materials and/or your Account and Postings.  You acknowledge and agree that the Provider may update, modify and/or discontinue any aspect of the Site, Content and/or the Provider Materials with or without prior, or any, notice to you.  You acknowledge that it may be necessary for you to update or upgrade third party software from time to time in order to continue to access the Site, the Provider Materials and/or your Account and Postings.
	</div>


						<br><br>


	<div class="termsTitleText">
		International Use
	</div>


	<div class="termsText">
		By electing to access this Site and/or the Provider Materials from any jurisdiction outside of Canada, you accept full responsibility for ensuring that your use of the Site is in compliance with all laws applicable within that other jurisdiction.  Provider makes no representation that materials, products and services available on or through the Site and/or the Provider Materials are appropriate or available for use in jurisdictions outside of Canada.  You are not permitted to access the Site or the Provider Materials from any jurisdiction in which the Content or the Provider Materials is illegal and/or accessing the Site, Content or the Provider Materials is illegal.  You may not use, export or re-export any materials from this Site or the Provider Materials in violation of any applicable laws or regulations.
	</div>

							<br><br>


	<div class="termsTitleText">
		Term and Termination
	</div>

	<div class="termsText">
		These Terms of Use will take effect when you first access the Site, the Content and/or the Provider Materials. The Provider reserves the right at any time and for any reason to deny you access to the Site, Content, the Provider Materials or any portion thereof. In the event of any such denial, any fees paid by you or on your behalf related to your use of the Provider Materials which has not yet occured will be refunded to you unless such denial is by reason of your breach of these Terms of Use or other misuse of the Site, Content and/or the Provider Materials. Termination will be effective without notice.
	</div>


	<br><br>


	<div class="termsTitleText">
		Governing Law
	</div>
	<div  class="termsText">
		These Terms of Use and your legal relationship with the Provider shall be governed by and construed in accordance with the laws of the Province of British Columbia, together with the federal laws of Canada applicable therein, without regard to its conflicts of laws principles. These Terms of Use shall not be governed by the United Nations Convention on Contracts for the Sale of Goods. The controlling language of these Terms of Use is English.
	</div>

		<br><br>


	<div class="termsTitleText">
		Waiver and Severability
	</div>
	<div  class="termsText">
		The failure of the Provider to enforce any right or provision of these Terms of Use will not constitute a waiver of such right or provision.  In the event that any provision of these Terms of Use is held to be invalid or unenforceable by any court of competent jurisdiction, that provision shall be enforced to the maximum extent permissible and the remaining provisions of the Terms of Use will remain in full force and effect.  All remedies of the Provider hereunder shall be cumulative.
	</div>


			<br><br>


	<div class="termsTitleText">
		Assignment
	</div>
	<div  class="termsText">
		You may not assign any of your rights or obligations hereunder, whether voluntarily or by operation of law except with the prior express written consent of Provider, which consent may be withheld in Provider’s sole discretion, and any attempted assignment in violation of the foregoing is void.  Provider may assign any or all of its rights and obligations hereunder to an affiliate, subsidiary or a successor in title to the Site and/or the business and undertaking of the Provider.
	</div>

			<br><br>


	<div class="termsTitleText">
		Enurement
	</div>
	<div  class="termsText">
		These Terms of Use shall enure to the benefit of and be binding upon the parties and their respective heirs, executors, administrators, successors and permitted assigns.
	</div>


			<br><br>


	<div class="termsTitleText">
		Events Beyond Provider’s Control
	</div>
	<div  class="termsText">
		You expressly absolve and release Provider and its licensors and service providers from any claim of harm resulting from a cause beyond their individual and/or collective control, including, but not limited to, the failure of electronic or mechanical equipment or communication lines, telephone or other interconnect problems, computer viruses, unauthorized access, theft, operator errors, severe weather, earthquakes, or natural disasters, strikes or other labor problems, wars, terrorism or governmental restrictions. 
	</div>

				<br><br>


	<div class="termsTitleText">
		Notices
	</div>
	<div  class="termsText">
		Any notices or other communications permitted or required hereunder, including but not limited to modifications to these Terms of Use and/or any policy referred to herein, will be in writing and given by Provider (i) via e-mail (in each case to the e-mail address provided by you for your Account) or (ii) by posting to the Site and/or within the Provider Materials.  Notice delivered by e-mail will be deemed to have been received on the date on which such notice is transmitted.  
	</div>


					<br><br>


	<div class="termsTitleText">
		Dispute Resolution
	</div>
	<div  class="termsText">
		You and Provider agree that any dispute, claim or controversy arising out of or relating to these Terms of Use, any policy referred to herein, or the breach, termination, enforcement, interpretation or the validity thereof, or the use of the Site, the Content, any provider products or services, (collectively, the “Disputes”) will be settled by binding arbitration, except that each party retains the right to (i) bring an individual action in the British Columbia Provincial Court (Small Claims Division) if the action is within the jurisdiction of that court, (ii) bring an individual proceeding before the British Columbia Civil Resolution Tribunal in the matter is within the jurisdiction of that tribunal and (iii) seek injunctive or other equitable relief in a court of competent jurisdiction to prevent actual or threatened infringement, misappropriation, or violation of a party’s copyrights, trademarks, trade secrets, patents, confidential information or other intellectual property rights.  You acknowledge and agree that you and Provider are each waiving the right to a trial by jury and the right to participate as a plaintiff or a class member in any purported class action or similar representative proceeding.  Further, unless you and Provider expressly agree in writing, the arbitrator may not consolidate more than one person’s claims and may not otherwise preside over any form of class or representative proceeding.  The arbitration shall be conducted by one arbitrator in English and in accordance with the British Columbia International Commercial Arbitration Centre (the “BCICAC”) Canadian Arbitration Shorter Rules for Domestic Arbitrations, which shall administer the arbitration and act as appointing authority (unless another arbitrator is mutually agreed by the Provider and you). The place of the arbitration shall be Kelowna, British Columbia. The decision of the arbitrator(s) shall be binding upon the parties hereto, and the expense of the arbitration (including without limitation the award of attorneys’ fees to the prevailing party) shall be paid as determined by the arbitrator. The decision of the arbitrator may be entered in any court of competent jurisdiction. You agree to submit to the jurisdiction of the provincial and federal courts in British Columbia for the purposes of any judicial proceedings to obtain interim relief and in aid of the arbitration or judicial proceedings to confirm or enforce the award. This “Dispute Resolution” section shall survive any termination of these Terms of Use.  
	</div>




					<br><br>


	<div class="termsTitleText">
		Entire Agreement
	</div>
	<div  class="termsText">
		These Terms of Use, together with the Privacy Policy and Copyright Policy referred to herein, constitute the entire agreement between the parties concerning the subject-matter hereof and supersede and replace any and all prior oral or written understandings or agreements between you and Provider regarding the Site, the Content and any associated services.
	</div>


						<br><br>


	<div class="termsTitleText">
		Time of the Essence
	</div>
	<div  class="termsText">
		Time shall be of the essence of these Terms of Use.
	</div>


	<br><br>


	<div class="termsTitleText">
		Survival
	</div>
	<div  class="termsText">
		The provisions of these Terms of Use which require or contemplate performance after the expiration or termination of these Terms of Use shall remain enforceable notwithstanding such expiration or termination.
	</div>



	<br><br>


	<div class="termsTitleText">
		Relationship
	</div>
	<div  class="termsText">
		The relationship between the parties is that of independent contractors and neither party shall have the authority to bind the other in any way.
	</div>


		<br><br>


	<div class="termsTitleText">
		Language
	</div>
	<div  class="termsText">
		Notwithstanding any translation of these Terms of Use, the Site, Content, Provider Materials, Postings and/or any customer order, the English language shall control the interpretation of these Terms of Use and any Postings, customer order and all other writings between you and the Provider. You and the Provider confirm that you have requested that these Terms of Use and all documents contemplated by these Terms of Use be drawn up in English unless otherwise expressly agreed in writing. Les parties aux presents ont exigé que cette entente et tous autres documents envisages par les presents soient rédigés en anglais. 
	</div>







































<br>

<br>

<br>

<br>

<br>


</div>





































