<p>
  <strong>Group Name:</strong>
  <%= @group_invite.group.title %>
</p>

<p>
  <strong>Sender Name:</strong>
  <%= @group_invite.sender_id %>
</p>

<p>
  <strong>Recipient Name:</strong>
  <%= @group_invite.recipient_id %>
</p>
