<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
      	<p>
          <%= group_comment.content  %>
        </p>
      </div>
    </div>
  </article>
</div>