<%= stylesheet_link_tag "groups", :media => "all" %>

<%= form_for(@group.passive_relationships_groups.build, method: :post) do |f| %>
	<%= hidden_field_tag :followedG_id, @group.id %>
	<%= image_submit_tag "joinLong.png", class: "iconImage" %>
    <div class="textOps">
      Join group
    </div>
<% end %>
