

      <% @groups.each do |group| %>
      <% collide = current_user.followingI.ids & group.fgI.ids %>
        <div class="col-md-3 col-xs-6 testMarge">
          <%= link_to group, method: :get, class: "specialA" do %>
            <div class="elementBox">
              <%= image_tag(group.image_url(:group), class: "groupImageDisc") if group.image? %>
              <div class="eventContent">
                <div class="titleGroups"><%= truncate(group.title, length: 20) %></div>
              </div>
              <div class="sharedInts">
            
                <%= collide.count %> Shared interests
              </div>
            </div>
          <% end %>
          </div>

      <% end %>

