      <% @groups.each do |group| %>
        <div class="col-md-3 col-xs-6 testMarge" data-aos="fade-up">
          <%= link_to group, method: :get, class: "specialA" do %>
            <div class="groupBlock">
              <%= image_tag(group.image_url(:group), class: "groupImageDisc") if group.image? %>
              <div class="groupTitleDisc"><%= truncate(group.title, length: 30) %></div>
            </div>
          <% end %>
          </div>

      <% end %>