<%= stylesheet_link_tag "groups", :media => "all" %>
<%= stylesheet_link_tag "groups_mobile", :media => "all" %>

<%= form_for(current_user.active_relationships_groups.find_by(followedG_id: @group.id), html: { method: :delete }) do |f| %>


	            <%= image_submit_tag "joinedLong.png", class: "iconImage" %>
                    <div class="textOps">
                      Joined group
                    </div>
<% end %>


