<%= stylesheet_link_tag "groups", :media => "all" %>
<%= javascript_include_tag 'groups', 'data-turbolinks-track': 'reload' %>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<style type="text/css">
@media screen and (max-width: 776px){
  .elementBox {
    height: auto !important;
    padding-bottom: 10px;
  }
} 



</style>

<div class="container mobileArea indexMar" >

  <%= render 'groupsMenu' %> 
  

  <div class="tab-content" id="events-nav-content">
    <div class="tab-pane active" id="events" role="events-tab-pane" aria-labelledby="events-tab">

      <h2 class="topTitle2">Discover Groups</h2>

      <div class="complete">

          <%= render "groups" %>
          
      </div>


    </div>



  </div>












</div>
<div class="col-md-12 col-xs-12">
  
<br>
<br>
<br>
<br>



</div>
















