<%= stylesheet_link_tag "groups", :media => "all" %>
<%= javascript_include_tag 'groups', 'data-turbolinks-track': 'reload' %>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<head>
  <link rel="stylesheet" href="https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css">
</head>

<style type="text/css">
@media screen and (max-width: 776px){
  .elementBox {
    height: auto !important;
    padding-bottom: 10px;
  }
  .titleGroups{
    font-size: 12px;
  }

} 



</style>

<div class="container mobileArea indexMar" >

  <%= render 'groupsMenu' %> 
  

  <div class="tab-content" id="events-nav-content">
    <div class="tab-pane active" id="events" role="events-tab-pane" aria-labelledby="events-tab">

      <h2 class="topTitle2">Discover Groups</h2>



      <div class="groups">

      

      <div class="ph-item">
          <div class="ph-col-3 marginSkeleton">
            <div class="boxEventSkeleton">
              <div class="ph-picture"></div>
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
              <div class="ph-row">
                <div class="ph-col-6 big"></div>
              </div>
            </div>
          </div>
          <div class="ph-col-3 marginSkeleton">
            <div class="boxEventSkeleton">
              <div class="ph-picture"></div>
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
              <div class="ph-row">
                <div class="ph-col-6 big"></div>
              </div>
    
            </div>
          </div>

          <div class="ph-col-3 marginSkeleton">
            <div class="boxEventSkeleton">
              <div class="ph-picture"></div>
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
              <div class="ph-row">
                <div class="ph-col-6 big"></div>
              </div>
      
            </div>
          </div>
          <div class="ph-col-3 marginSkeleton">
            <div class="boxEventSkeleton">
              <div class="ph-picture"></div>
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
              <div class="ph-row">
                <div class="ph-col-6 big"></div>
              </div>
            </div>
          </div>


      </div>


          
      </div>


    </div>



  </div>



 <script>


      function load_partial() {     
            $("div.groups").replaceWith('<%= escape_javascript(render partial: 'groups') %>');
          }


$(document).on("turbolinks:load", function(){
      
  

      load_partial()

    


  });



  </script>










</div>
<div class="col-md-12 col-xs-12">
  
<br>
<br>
<br>
<br>



</div>
















