<%= stylesheet_link_tag "groups", :media => "all" %>
<%= javascript_include_tag 'groups', 'data-turbolinks-track': 'reload' %>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



<div class="container mobileArea indexMar">

    <ul class="nav nav-tabs" id="events-nav" role="tablist">
    <li class="nav-item active col-md-3 col-md-offset-2 mobNavs navSelect">
      <a class="nav-link btn btn-prox" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="my events tab">
        Discover
      </a>
    </li>
    <li class="nav-item col-md-3 col-md-offset-2 mobNavs navSelect">
      <a class="nav-link btn btn-prox " id="discover-tab" data-toggle="tab" href="#discover" role="tab" aria-controls="discover tab">
        My Groups
      </a>
    </li>
  </ul>
  

  <div class="tab-content" id="events-nav-content">
    <div class="tab-pane active" id="events" role="events-tab-pane" aria-labelledby="events-tab">

      <h2 class="topTitle2">Discover Groups</h2>

      <div class="complete">

          <%= render "groups" %>
          
      </div>


    </div>



  </div>












</div>






<div class="col-md-12 col-xs-12">


<br>
<br>
<br>
<br>
<br>
</div>




















