<%= stylesheet_link_tag "groups", :media => "all" %>

<div class="coverImage" id="coverImage" style="background-size: cover;background-repeat: no-repeat;background-position: center;">
  <%= image_tag("events_back.jpg", class: "iconImg", id: "coverImageTag") %>
</div>
<div class="groupContentForm">
  <div class="groupTitleForm valign-wrapper">
    <div class="groupImg" id="groupImg"><%= image_tag("logo_inv_square.png", id: "groupImgTag") %></div>
    <div id="groupTitleText">New Group</div>
  </div>
</div>
<div class="groupFormEqual container">
  <%= render 'form', group: @group %>
</div>

<script>
    $("#coverImageUpload").change(function(){
        coverFileURL = URL.createObjectURL(event.target.files[0]);
        $("#coverImageTag").css("visibility", "hidden");
        $("#coverImage").css("background-image", "url("+coverFileURL+")");
    });
    $("#groupImageUpload").change(function(){
        imageFileURL = URL.createObjectURL(event.target.files[0]);
        $("#groupImgTag").css("visibility", "hidden");
        $("#groupImg").css("background-image", "url("+imageFileURL+")");
    });
    $('#groupTitle').on('input propertychange paste', function(){
        var groupTitle = $('#groupTitle').val();
        if(groupTitle != ""){
            $("#groupTitleText").text(groupTitle);
        }else{
            $("#groupTitleText").text("New Event");
        }
    });
</script>