<%= stylesheet_link_tag "groups", :media => "all" %>








<div class="container noPad3">
<div class="col-md-4 col-xs-12 scrollNorm">




            <div class="text-center module1">


            <div class="innerModule">


            <div class="groupImageCover" id="coverImage" style="background-size: cover;background-repeat: no-repeat;background-position: center;">
                <%= image_tag("events_back.jpg", class: "groupImageCover", id: "coverImageTag") %>
            </div>



            <div class="groupContentForm">
              <div class="titleInfo">
                <div class="col-md-12 col-xs-12 connArea">
                    <div class="groupImg" id="groupImg">
                        <%= image_tag("logo_inv_square.png", id: "groupImgTag") %>
                    </div>
                </div>
                <div class="groupInfoSec">
                    <div id="groupTitleText" class="groupTitle">
                        New Group   
                    </div>
                </div>
              </div>
            </div>

        </div>

        </div>

</div>






<div class="col-md-8 col-xs-12 negativeMarg">
  <%= render 'form', group: @group %>
</div>


</div>


<script>
    $("#coverImageUpload").change(function(){
        coverFileURL = URL.createObjectURL(event.target.files[0]);
        $("#coverImageTag").css("visibility", "hidden");
        $("#coverImage").css("background-image", "url("+coverFileURL+")");
    });
    $("#groupImageUpload").change(function(){
        imageFileURL = URL.createObjectURL(event.target.files[0]);
        $("#groupImgTag").css("visibility", "hidden");
        $("#groupImg").css("background-image", "url("+imageFileURL+")");
    });
    $('#groupTitle').on('input propertychange paste', function(){
        var groupTitle = $('#groupTitle').val();
        if(groupTitle != ""){
            $("#groupTitleText").text(groupTitle);
        }else{
            $("#groupTitleText").text("New Event");
        }
    });
</script>