
      


           <%= link_to friendships_path(friend_id: @user.id), method: :post, class: "specialA" do %>

              <%= image_submit_tag "addFriend.png", class: "iconImage" %>
              <div class="textOps">
                Add Friend
              </div>
        
              <% end %>


