    <h2 class="topTitle2">Discover Events</h2>


      <div class="complete">

        <%= render @events %>

          
      </div>



  <footer class="lp_footer col-xs-12 text-center">
    <div class="footerMobileAlert">
      Proximy coming soon to mobile
    </div>

  </footer>
