<%= stylesheet_link_tag "events", :media => "all" %>

<%= form_for(@event.passive_relationships_events.build, method: :post) do |f| %>
	<%= hidden_field_tag :followedE_id, @event.id %>
    <%= image_submit_tag "attendLong.png", class: "iconImage" %>
    <div class="textOps">
      Attend event
    </div>
<% end %>
     


   