      

      <div class="col-md-6 col-xs-6 noPad3 text-center">

      <div class="modalSignUp" data-target="#accessModal" data-toggle="modal" >
         <%= image_submit_tag "attendLong.png", class: "iconImage" %>
          <div class="textOps">
            Log in to attend
          </div>

     </div>

    </div>





