
<%= stylesheet_link_tag "events", :media => "all" %>



<script>
$(document).ready(function() {
  $(".loader").hide();

    var ajaxLoadTimeout, ajaxLoadTimeout2;
    
    $(document).ajaxStart(function(){
      ajaxLoadTimeout = setTimeout(function() { $(".loader").show(); });
    });
  
  
    $(document).ajaxStop(function(){
      ajaxLoadTimeout2 = setTimeout(function() { $(".loader").hide(); }, 1000); 
        }) .ajaxSuccess(function() { 
          clearTimeout(ajaxLoadTimeout);
          $("#loader").hide();
      });

});
</script>




<div class="coverImage" id="coverImage" style="background-size: cover;background-repeat: no-repeat;background-position: center;">
	<%= image_tag(@event.image_url, class: "iconImg", id: "coverImageTag") if @event.image? %>
</div>



<div class="eventContentForm">
  <div class="eventTitleForm" id="eventPageTitle"><%= @event.title %></div>
</div>
<div class="eventFormEqual container">


<%= render 'form', event: @event %>
</div>


<div class="loader" />

<script>
    $("#coverImageUpload").change(function(){
        fileURL = URL.createObjectURL(event.target.files[0]);
        $("#coverImageTag").css("visibility", "hidden");
        $("#coverImage").css("background-image", "url("+fileURL+")");
    });
    $('#eventTitle').on('input propertychange paste', function(){
        var eventTitle = $('#eventTitle').val();
        if(eventTitle != ""){
            $("#eventPageTitle").text(eventTitle);
        }else{
            $("#eventPageTitle").text("New Event");
        }
    });
</script>


