

<%= form_for(@interest.passive_relationships_interests.build, method: :post) do |f| %>
	<%= hidden_field_tag :followedI_id, @interest.id %>
	<div class="buttonEventHov">
		<%= f.submit "Interested", class: "btn btn-primary attendEventBtn" %>
	</div>
<% end %>