<%= form_for(current_user.active_relationships_interests.find_by(followedI_id: @interest.id), html: { method: :delete }) do |f| %>
	<div class="buttonGroupHov">
      <div class="followingState"><%= f.submit "Following Interest", class: "btn  btn-primary unfollowGroupBtn" %></div>
      <div class="unfollowState"><%= f.submit "Unfollow Interest", class: "btn  btn-primary unfollowGroupBtn" %></div>
    </div>
<% end %>


