 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */



@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import 'rails_emoji_picker';


$nprogress-color: #6c95af;
$nprogress-zindex: 10100;

@import 'nprogress';
@import 'nprogress-bootstrap';

.lazy-load img{
  object-fit: cover !important;
}

.replace img{
  border-radius: 12px 12px 0px 0px !important;
}

.preview img{
  border-radius: 12px 12px 0px 0px !important;
}


/* POPUP */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.logoMobile{
  height: 64px;
  margin: 12px;
}






/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
  
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
/* POPUP */




  .stepsIcon{
    margin: 5px;
    height: 20px;
  }

/* Sign Up Area START */
.logoParent{
  text-align: center;
}

.logoImg{
  height: 80px;

  position: center;
}
.logField, .signUpForm{
  margin-top: 20px;
}

.emailField{
  margin: 32px 0px;
  outline: none !important;
}
.passField .loginSec{
  margin: 32px 0px;

}

.fileBtnSubmitSign{
  border-color: #508cf7;
  background-color: #508cf7;
  width: 90%;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: inherit;
  font-weight: 600;
  margin-bottom: 1rem;
  outline: none;
  padding: 1.2rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}


.fileBtnSubmitSign:hover{
  background-color: #204d74;
}



.fileBtnSubmitSign2{
  text-decoration: none !important;
  background-color: white;
  width: 81%;
  border: none;
  border-radius: 5px;
  color: #508cf7;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif !important;
  font-size: inherit;
  font-weight: 600;
  outline: none;
  padding: 1.2rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}

.form-control {
    border-radius: 8px !important;
    border-color: white;
    /* border-bottom: 1px #a2a2a2 solid !important; */
    background-color: #f5f3f4;
    border-radius: 8px;
    padding: 20px;

}


.form-control:focus{
  outline: none;
  box-shadow: 0px 0px 0px 0px !important;
  background-color: #7ea5c01c;
  border: 2px solid #66afe9;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}


#sign_in{
  height: 38px;
}

.logField-edits{
  margin: 0 auto;
}


.legalLinks{
  color: #767676;
  font-size: 14px;
  font-weight: 700;
  color: #508cf7 !important;
}


.legalLinks:hover{
  text-decoration: none !important;
  color: #508cf7 !important;
}
.agreements{
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  margin-top: 25px;
    font-size: 14px;
  font-weight: 700;
}



/* Sign Up Area END */








.navTitleEnd{
  float: right;

  display: inline-block;

}
  .messageAlert{
    width: 300px;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    height: 150px;
    z-index: 1000;
    background: #e7f3ff;
    color: black;
    bottom: 40px;
    left: 30px;
    box-shadow: 1px 1px 4px 0 rgba(0,0,10,0.05), 0 40px 100px -20px rgba(0,0,10,0.3), 0 30px 70px -30px rgba(0,0,0,0.5);
    display: none;
    border-radius: 12px;
  }

  .notificationInnerBox{
    margin: 15px 15px 5px 15px;
    text-align: left;
    font-size: 14px;
    font-weight: 900;
  }


   .notificationInnerBox2{
    margin: 5px 15px;
    text-align: left;
    font-size: 12px;
    font-weight: 900;
    width: 91%;
    height: 93px;
	overflow: hidden;
  	text-overflow: ellipsis;
  	word-wrap: break-word;
  }





.btn-primary:hover{
	background-color: #508CF7 !important;
	color: white !important;
	border-color: #4f8cf7 !important;
}


#error_explanation{
	font-size: 12px;
	font-weight: 900 !important;
	text-align: center !important;
	color: #508cf7 !important;
	width: auto;
    border: 1px solid red !important;

    background-color: #fff !important;

}


.field_with_errors{
	padding: 0px;
    background-color: #fff;
    display: table;
    width: 100%;
    border-radius: 8px;
    border: 1px solid red !important;

}



img.imageSent{
  border-radius: 15px;
  object-fit: cover;
}




.navTitleEndAlt{
	float: right;
	padding: 7px;
	display: inline-block;
	

}

.feedbackButton{
	font-weight: 700 !important;
	background-color: #e7f3ff;
	padding: 10px;
	border-radius: 10px;
	color: #508CF7;
  transition: 0.2s;
}

.feedbackButton:hover{
	
	background-color: #508CF7;

	color: white;

}



/* Tooltop Start */

.textHover {
  position: relative;
  display: inline-block;
}

.textHover .textHoverShow {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 75%;
  font-size: 14px;
  margin-top: 4px;
  margin-left: -60px;
}

.textHover:hover .textHoverShow {
  visibility: visible;
}



/* Tooltop End */






button.closeInts {
    padding: 57px;
    padding-left: 50px;
    cursor: pointer;
    padding-right: 100px;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    font-size: 60px;
    float: right;
    color: white;
}

.spinner {
  margin: 100px auto 0;
  width: 100px;
  text-align: center;
}

.spinner > div {
  width: 30px !important;
  height: 30px !important;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.noPad3Desk{
	padding-left: 0px !important; 
	padding-right: 0px !important; 
}


a:hover{
	color: #457bda !important;
}



.spinnerPage {
  width: 70px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.spinnerPage > div {
  width: 18px;
  height: 18px;
  background-color: #508cf7;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinnerPage .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinnerPage .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}



label{
	font-weight: 900 !important;
}


.logoMain2{
	height: 45px;
    width: 45px;
    margin-left: 30px;
}

/* Loader Css starts */
.loader {
    border: 5px solid #e6e6e6;
    border-radius: 50%;
    border-top: 5px solid #6c95af;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    position: fixed;
    left: 50%;
    bottom: 50%;
    animation: spin 2s linear infinite;
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* place  <div class="loader"></div> to implement loader */
/* Loader Css ends */



.nav-up {
    top: -50px;
}



.panel-group .panel + .panel {
    margin-top: 50px;
}

.panel-body{
	padding: 0px !important;
}



.panel-interest {
	padding: 5px 15px;
}


.panel-interest{

    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-heading {
	padding: 5px 15px;
}


.notificationsNav{
    position: relative;
    top: -37px;
    left: 26px;
    display: flex;
}


.notificationsNavChats{
    position: relative;
    top: -37px;
    left: 26px;
    display: flex;
}


.redChats{
    height: 14px;
  
}

.activeNav{
	box-shadow: 0px 3px 0px 0px #508cf7;
	margin-top: -3px;
}

.divBy3{
	width: calc(33.3333% - 10px);
	float: left;
	 margin: 5px;
}

.noPadDesc{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.indexMar {
    margin-top: 65px;
}

@media (min-width: 1200px){
	.container{
		width: 1320px;
	}
}

.addedInterest:hover{
	background-color: #2eb930 !important;
}

.alert{
    width: 100%;
    margin: 10px;
    position: fixed;
    z-index: 100;
	
}

.alertSign{
	width: calc(100% - 100px);
	margin: 10px 50px;
	position: absolute;
    z-index: 100;
    padding: 15px;
    border-radius: 5px;
}
.alert-success{
    background-color: #d6e9c6;
    color: #3c763d;
    font-weight: 900;
    width: 22%;
    padding: 17px;
    border-radius: 38px;
    margin: auto;

}



@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}









body{
	margin-bottom: 50px;
}

.modal-content{
  border-radius: 11px;
}


#modalPostImage img{
  border-radius: 10px 10px 0px 0px;
}


a:focus{
	color: #23527c !important;
	text-decoration: none !important; 
}



.overallCreate{
	 margin-top: 68px
}


.test{
	height: 200px;
}

.menuSec{
	margin-top: 15px;
	margin-bottom: 15px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	text-decoration: none;
    color: #000000;
    background-color: #6c95af54;
    border-radius: 3px;
}


.itemButton{
  border-radius: 8px;
    background-color: white;
    border: 0px;
    padding: 8px 11px;
    width: 100%;
        color: #333333;
            font-weight: 600;
}

.itemButton:hover{
 background-color: #6c95af54;
    border-radius: 3px;

}


.dropdown-menu > li > .itemButton:hover , .dropdown-menu > li > .itemButton:focus {
  text-decoration: none;
    color: #000000;
    background-color: #6c95af54;
    border-radius: 3px;
}


.dropdown-menu > li > a {
    display: block;
    padding: 7px 20px;
    clear: both;
    font-weight: 600;
    /* font-weight: normal; */
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}



.dropdown-menu{
	padding: 0px 0;
}



/* Concept Begin */

.menuElements{


    font-size: 27px;
    transition: 0.1s;
    font-weight: 800;
    padding: 20px 8px 8px 14px;

}
.sideTitle{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 27px;
    transition: 0.1s;
    font-weight: 900;
    padding: 20px 8px 8px 14px;
}

.sideTitle2{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 27px;
    transition: 0.1s;
    font-weight: 900;
    padding: 15px 8px 8px 14px;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 0px;
  text-decoration: none;
  font-weight: 600;
  font-size: 22px;
  display: inline-block;
  transition: 0.1s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}





@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Concept End */

.navTitleEndNew{
	float: right;
	padding-top: 6px;
	padding-bottom: 6px;
	display: inline-block;
	color: white;
}



.moreOps{
	left: -111px;
}

.imageNavDrop{
	padding-top: 10px;
	padding-bottom: 10px;
	height: 45px;
}


.dropItem{
	padding: 10px;
	text-decoration: none !important;
}



.pencilButton{
	float: right;
}



.ImageNav{
	padding: 10px;
	height: 42px;
   
}



.form-control{
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075) !important;
	-webkit-transition-property: none !important;
	-moz-transition-property: none !important;
	-o-transition-property: none !important;
	transition-property: none !important;
}
.form-control:focus{
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0), 0 0 0px rgba(0, 0, 0, 0.0) !important;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(0, 0, 0, 0.0) !important;
}
.dropbtn {
  color: white;
  border: none;
  cursor: pointer;

}

.modal-footer{
	border-top: 0px !important;
}


.text-muted{
	color: black !important;
	font-weight: 900;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
	border-radius: 4px;
	display: none;
	position: absolute;
	left: -100px;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,1);
	z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
	background-color: #7fa6bd5c;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
}

a{
	color: black;
}

.btn:active, .btn.active{
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}


.nav-tabs > li > a{
	border: 0px !important;
}


.nav-tabs{
	border-bottom: 0px !important;
}
.nav-fill .nav-item {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
}

i.material-icons{
  border:none;
}

button{
  outline: none !important;
}

.logoMain{
    height: 58px;
    width: 42px;
}

.dropDown{
	height: 30px;
	width: 30px;
}

.image{
	width: 100px;
	height: 100px;
}






.navTitleEnd1{
	float: right;
	padding: 7px;
	display: inline-block;
	color: white;
  height: 55px;
}


.navTitleEnd2{
	float: right;
	margin-top: 16px;
	margin-right: 10px;
	font-size: 20px;
	display: inline-block;
	color: white;
}


.navTitleEnd3{
	float: right;
	display: inline-block;
	color: white;
}

.navTitleEnd4{
	float: right;
	display: inline-block;
	color: white;
	margin-top: 8px;
	padding-bottom: 20px
}



.specialB{
	color: white !important;
	text-decoration: none !important;
}

.specialB:hover{
	text-decoration: none !important;
}

body{
	margin-top: 55px;
	font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif !important;
}




.topNav{
	box-shadow: 0 1px 1px rgba(0,0,0,.15);
	border-radius: 0px;
	height: 55px;
	background-color: white;
}

.navTitle{
    margin-top: -2px;
    font-size: 30px;
    display: inline-block;
}


.userImageNav{
	height: 45px;
	width: 45px;
	object-fit: cover;
	border-radius: 6px;
}


.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


.navTitleEnd3{
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	font-size: 20px;
}

.modal-dialog{
	margin-top: 5%;
}


.dropCont{
	display: none;
}

.navTitleEnd3:hover + .dropCont{
	display: block;
}
.mobNav{
	display: none !important;
}

.ifMob1{
	display: block !important;
}

.ifMob2{
	display: none !important;
}

.sidenav{
	display: none !important;
}

.sidenav2{
	display: none !important;
}


.panel{
	box-shadow: 0px 0px 0px !important;
	-webkit-box-shadow: 0px 0px 0px !important;
}


.extraInf{
	display: block !important;
}

@media screen and (max-width: 776px){

    .userImage{
    float: right;
      background-color: transparent;
      /* margin: 17px; */
      position: absolute;
      border-radius: 100px;
      z-index: 100;
      /* margin-left: 5px; */
      right: 12px;
      top: 0;
  }
  .userAvatar{
       height: 50px;
    margin: 12px;
    margin-top: 20px;
    border-radius: 300px;
  }

  .logoImg{
    height: 70px;
  }

  
/*  .footerMobileAlert{
    font-size: 12px;
    font-weight: 900;
    margin: 15px;
  }
  .lp_footer{

    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: white;
    overflow: hidden;
    border-top: 1px solid #0000001a;
}
*/


  .agreements{
    font-size: 9px;
  }
  .legalLinks{
    font-size: 9px;
  }



.fileBtnSubmitSign{
  width: 99%;
}

	#theRest{
		margin-bottom: 0px;
	}

	button.closeInts {
	    padding: 0px;
	    padding-left: 100%;
	    cursor: pointer;
	    padding-right: 22px;
	    background: transparent;
	    border: 0;
	    -webkit-appearance: none;
	    font-size: 60px;
	    float: right;
	    color: white;
	}



	.spinner {
	  margin: 60px auto 0;
	  width: 50px;
	  text-align: center;
	}

	.spinner > div {
	  width: 30px !important;
	  height: 30px !important;
	  

	  border-radius: 100%;
	  display: inline-block;
	  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	}

	.notificationsNav{
		margin-left: -3px;
	}



	.panel-group .panel + .panel {
	    margin-top: 20px;
	}

	.panel-interest{
		padding: 5px 5px;
	}
	.activeNav{
	    box-shadow: 0px 0px 0px 0px #6c95af;
	    margin-top: 0px;
	    border-top: 3px solid #6c95af;
	    border-radius: 3px;

	}

	.extraInf{
		display: none !important;
	}

		.divBy3{
			    width: calc(100% - 0px);
			    float: left;
			    margin: 5px 0px;
		}

	  .noPad8PX{
	    padding-left: 8px !important;
	    padding-right: 8px !important;
	  }
	  .noPad1{
	    padding-left: 5px !important;
	    padding-right: 5px !important;
	  }

	  .noPad2{
	    padding-left: 3px !important;
	    padding-right: 3px !important;
	  }


	  .noPad3{
	    padding-left: 0px !important;
	    padding-right: 0px !important;
	  }
	.alert{
	    border-radius: 20px;
	    width: 90%;
	    margin: 19px;
	}

	.navElement{
		width: 100%;
	}


	.sidenav{
		display: block !important;
	}


	.dispNone{
		display: none !important;
	}
	.ifMob2{
		display: block !important;
	}

	.ifMob1{
		display: none !important;
	}

	.sidenav {
	    height: 100%;
	    width: 0;
	    position: fixed;
	    z-index: 1;
	    top: 0;
	    right: 0;
	    background-color: #fff;
	    overflow-x: hidden;
	    transition: 0.3s;
	    padding-top: 75px;
	    box-shadow: 0px 0px 1px;

	}	


	.sidenav2 {
		display: block !important;
		    overflow-y: hidden;
	    height: 0;
	    width: 100%;
	    position: fixed;
	    z-index: 1;
	    bottom:  0;
	    left:  0;
	    background-color: #fff;
	    overflow-x: hidden;
	    transition: 0.3s;
		box-shadow: 0px 0px 1px;
   		margin-bottom: 54px;
   		border-radius: 10px 10px 0px 0px;
	}	

	.sidenav2 .closebtn2 {
	  position: absolute;
	  top: 0;
	  right: 25px;
	  font-size: 36px;
	  margin-left: 50px;
	  padding-top: 2px;
	  text-decoration: none !important;
	}

	#navbar {
  		transition: top 0.5s;
	}





	.panel-body{
		padding: 0px;
	}
	.navTitleEndMob{
		display: inline-block;
		padding-top: 12px;
		padding-bottom: 15px;
    	display: inline-block;
    	color: white;
    	text-align: center;
    	width: calc(20% - 4px);
	}

	.ImageNavB{
		height: 25px;

	}
	.mobNav{
		display: block !important;
		position: fixed;
		bottom: 0px; 
		left: 0px;
		width: 100%;
	}
	.bottomNav{
		display: none;
	    border-radius: 0px;
	    height: 55px;
	    width: 101%;
	    background-color: white;
	    box-shadow: 0px 0px 5px 0px #d2d1d1;
	}
	.pencilButton{
		display: none !important;
	}

	.ImageNav{
		display: none;
	}

	.modal-dialog{
		margin-top: 10%;
	}
	.dropdown-content{
		display: none !important;
	}
	.navTitleEnd1{
		margin: 1px;
		padding: 2px !important;
	}
	.logoMain{
		height: 45px;
		width: 45px;
	}
	body{
		margin-bottom: 56px;
    margin-top: 0px !important;

	}

	.topNav{
		box-shadow: 0 1px 1px rgba(0,0,0,.15);
		border-radius: 0px;
		height: 55px;
		background-color: white;
	}

	.navTitle{
		margin-top: 5px;
		font-size: 22px;
		display: inline-block;
	}


}
