

.centered{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: white;
  font-weight: 900;
}
.card-overlay {
  background: rgba(0, 0, 0, 0.2);
  height: 135px;
  margin: auto;
}


.infoWindowInterests{
  margin: 5px 10px 7px 10px;
  font-weight: 800;
  color: grey;
  font-size: 12px;
}
.infoWindowName{
  margin: 10px;
  font-weight: 800;
  font-size: 18px;
}


#imgcontainer
{
opacity:0.5;
background-color: Black;
z-index:10;
}
#imgcontainer img
{
      Z-index: 5;
}


.chat__message--user {

  width: 18%;
  float: left;
  position: fixed;
  overflow-y: scroll;
  left: 82%;
  height: 100vh;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}


.chat__main--active-user{

  font-weight: 900;
  position: relative;
  bottom: 35px;
  text-align: center;
}

.emoji-wysiwyg-editor{
  height: auto !important;
}


.emoji-menu{
  border-radius: 12px;
}

.noReqIcon{
  width: 190px;
}

.noReqArea{
  margin-top: 15%;
}

.noReqText{
  font-size: 20px;
  margin-top: 20px;
}

.imageSent{
  border-radius: 15px;
  outline: none !important;
}

img.emoji {
  width: 25px !important;
  height: 25px !important;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.chat__main--sub-section {
  float: left;
}

.chat__main--wrapper {
  float: left;
  width: 100%;
}

.chat__contact--panel {
  border-right: 1px solid rgba(0, 0, 0, .10);
  padding-left: 5px;
  padding-right: 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 5px;
  padding-right: 5px;
  top: 55px;
  bottom: 0;
  width: 24%;
  float: left;
  position: fixed;
  overflow-y: scroll;
}
  
.chat__contact--element {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  float: left;
  border-radius: 11px;
  transition: box-shadow .3s;
}

.is-active { 
  background: #4f8cf738;
}

.is-new-message {
  border: 5px solid red;
}

.chat__message--panel {
  width: 58%;
  float: left;
  position: fixed;
  overflow-y: scroll;
  left: 24%;
  height: 100vh;
}

#messages {
  width: 100%;
  height: calc(100% - 125px);
  overflow: scroll;
  // position: fixed;
  padding-left: 15px;
  padding-right: 15px;
  // top: 60px;
}

.contactMargin {
  margin-top: 10px;
}

.messageField {
  float: left;
  position: fixed;
  overflow-y: scroll;
  bottom: 0px;
  background-color: white;
  width: 58%;
}

.uploadItems {
  float: left;
  width: 7%;
}

.messageForm {
  float: left;
  width: 84%;
  padding-right: 10px;
  padding-left: 10px;
}

.form-control {
  width: 100% !important;
  resize: none;
}

.form-control:focus {
  outline: none;
  box-shadow: 0px 0px 0px 0px !important;
  background-color: #7ea5c01c;
  border-bottom: 0px !important;
}

.userImageMessage {
  border-radius: 8px 8px 8px 8px;
  height: 30px;
  width: 30px;
  object-fit: cover;
  display: inline-block;
}

.sendButton {
  width: 8%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.form-group {
  margin-bottom: 0px !important;
}

label {
  margin-bottom: 0px !important;
}

.form__input-body {
  max-height: 200px;
  padding: 12px !important;
  font-size: 16px;
}

.message {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin: 5px 0px;
  display: inline-block;
  font-size: 14px;
}

.imageSent {
  object-fit: contain;
  width: 300px;
  height: auto;
}

.senderMessage {
  background-color: #508cf7;
  padding: 15px;
  border-radius: 15px 15px 15px 15px;
  color: white;
  width: auto;
  float: right;
  line-height: inherit;
  max-width: 43%;
  text-align: left;
}

.senderMessageAJAX {
  background-color: #508cf7;
  padding: 15px;
  border-radius: 15px 15px 15px 15px;
  color: white;
  width: auto;
  float: right;
  line-height: inherit;
  max-width: 43%;
  text-align: left;
}

.receiverMessage {
  background-color: #f1f0f0;
  color: black;
  padding: 15px;
  border-radius: 15px 15px 15px 15px;
  width: auto;
  float: left;
  line-height: inherit;
  max-width: 43%;
  text-align: left;
}

.emoji-menu {
  top: -250px !important;
  left: -95px !important;
}

.emoji-picker-icon {
  position: absolute;
  right: 15px;
  top: 7px;
  font-size: 28px;
  opacity: 0.9;
  z-index: 100;
  -webkit-transition: none;
  transition: none;
  color: #508cf7;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img:hover {
  cursor: pointer;
}

input[type=file] {
  display: none;
}

#image {
  height: 45px;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 0px;
  outline: none !important;
  box-shadow: 0px 0px 4px 0px #e2e2e2;
  -webkit-transition: box-shadow .3s;
  transition: box-shadow .3s;
}

#image:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

#attachment {
  height: 45px;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 0px;
  outline: none !important;
  box-shadow: 0px 0px 4px 0px #e2e2e2;
  -webkit-transition: box-shadow .3s;
  transition: box-shadow .3s;
}

#attachment:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

#doc {
  height: 45px;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 0px;
  outline: none !important;
  box-shadow: 0px 0px 4px 0px #e2e2e2;
  -webkit-transition: box-shadow .3s;
  transition: box-shadow .3s;
}

#doc:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}


.has-unread-messages {
  background-color: #e4e4e491;
}



.chat__contact--element-status {
  float: right;
  display: inline-block;
  border-radius: 25px;
  width: 8px;
  height: 8px;
  margin-top: 10px;
}



.chat__contact--element-status {
  float: right;
  display: inline-block;
  border-radius: 25px;
  width: 8px;
  height: 8px;
  margin-top: 10px;
}

.chat__contact--element-status.online {
  background-color: #92a400;
}














































