/*// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


.heightControl{
  height: 180px;
}


#groupImgTag {
  height: 100px;
  width: 100px;
}



#groupTitleText {
  display: inline-block;
  position: relative;
  top: -40px;
  width: calc(90vw - 150px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


#groupImg {
  display: inline-block;
}



.fullLength{
	width: 100%;
	float: left;
}


.groupImg {
  height: 100px;
  width: 100px;
  margin-right: 20px;
  border-radius: 8px;
  border: 3px #f2f2f2 solid;
}



/* Form Start */
.textField {
  resize: none;
  height: 100px !important;
}

.createButton {
  width: 95%;
  height: 50px;
}

.create {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.labelSide {
  margin-bottom: 10px;
  font-size: 18px;
}

.field {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-control {
  border-radius: 3px;
  border-color: white;
  border-bottom: 1px black solid !important;


}

.form-control:focus {
  outline: none;
  box-shadow: 0px 0px 0px 0px !important;
  border-bottom: 1px #7ea5c0 solid !important;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}


.groupContentForm {
  position: relative;
  top: -148px;
  /* background-color: #00000054; */
  padding: 10px;
  /* opacity: 0.8; */
  border-radius: 0px;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.01) 3%, #4a4a4a91 100%) !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.fileBtnDiv, .form-control {
  width: 80%;
  margin: 10px 0;

}

.fileBtnDiv {
  border-color: #2e6da4;
  background-color: #7fa6be;

  .fileBtn {
    display: none;
  }
}


.groupTitleForm {
  text-align: left;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 28px;
  white-space: nowrap;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
}


.groupFormEqual {
  margin-top: -140px;
}


.coverImage {
  background: #6c94b2 url("/assets/events_back.jpg");
  margin-top: -10px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.groupImg {
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.iconImg {
  max-width: 100%;
  height: auto;
}

.groupTitleImg {
  text-align: left;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 22px;
  white-space: normal;
  color: white;
}


.groupImgTitle {
  position: relative;
  top: -70px;
  /* background-color: #00000054; */
  padding: 10px;
  /* opacity: 0.8; */
  border-radius: 0px 0px 0px 5px;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.01) 3%, #4a4a4a91 100%) !important;
}

/* Form End */




/* interests start */

.interestCard{
	border-radius: 3px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.interestTitleSec{
	background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.01) 3%, #4a4a4a91 100%) !important;
	position: relative;
	top: -30px;
	border-radius: 0px 0px 5px 5px;
}


.interestImage{
	width: 100%;
	border-radius: 5px 5px 5px 5px;
}


.interestName{
	font-size: 14px;
	padding: 5px;	
	color: white;
}




.buttonEventHov{
	position: relative;
	top: -20px;
}


.addedInterest{
	border: 0px !important;
	background-color: #2eb930;
	width: 100%;
}


.addInterest{
	background-color: white;
	color: white;
	border: 0px !important;
	background-color: #7fa6bd;
	width: 100%;

}


.buttonEventHov{
	position: relative;
	top: -20px;
}



/* interests end */



/* index start */


.eventOverall{
	position: relative;
	top: -70px;
}

.eventDateI {
  text-align: left;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
  white-space: normal;
  color: white;
}




div.scrollMembers {
    overflow: auto;
    white-space: nowrap;
    height: auto;
    overflow-y: hidden;
}

div.scrollMembers a {
    display: inline-block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.eventContent1 {
  position: relative;
  top: -68px;
  /* background-color: #00000054; */
  padding: 10px;
  /* opacity: 0.8; */
  border-radius: 0px 0px 5px 5px;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.01) 3%, #4a4a4a91 100%) !important;
}


div.scrollGroupsI {
    overflow: auto;
    white-space: nowrap;
        height: 290px;
        overflow-y: hidden; 

}

div.scrollGroupsI a {
    display: inline-block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.separate{
	margin-bottom: 10px;
	background-color: white;
	width: 100%;
	float: left;
}
.topTitle{
	font-size: 30px;
	margin: 10px;
	font-weight: 600;
}

.topTitle2{
	font-size: 25px;
	margin: 20px;
	font-weight: 600;
}
.groupTitleI{
	padding-bottom: 25px;
    font-weight: 700;
    font-size: 16px;
    margin: 5px;
    margin-top: 10px;
    white-space: normal;
    text-align: left;

}

.groupTitleDisc{
	padding-bottom: 25px;
    font-weight: 700;
    font-size: 20px;
    margin: 5px;
    margin-top: 10px;
    white-space: normal;
    text-align: left;

}

.groupImageI{
	border-radius: 5px;
	width: 100%;
    background-color: white;
    box-shadow: 0px 0px 1px;
    
}

.groupImageDisc{
	border-radius: 5px;
	width: 100%;
    background-color: white;
    box-shadow: 0px 0px 1px;
    
}

.innerElements{
	margin-top: 15px;
	margin-bottom: 15px;
}

.newsfeedIndex{
	text-align: left !important;
	float: left;
	width: 100%;

}
/* index end */

.followersBtn{
	text-align: center;
}


.groupImage1{
    border-radius: 10px;
    height: 220px;
    background-color: white;
    border: 1px black solid;
}



.showFollowersBtn{
	 box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.7);
	 margin: 15px;
	 border-radius: 5px;
}


.btnShowAll{
	color: black;
	border-radius: 10px;
	text-align: center;
	outline: none !important; 
	font-size: 14px;
	background-color: white;
}

.specialA{
  color: black !important;
  text-decoration: none !important;
}


.followerNameSec{
	font-size: 20px;
    font-weight: 200;
    margin: 10px;
}



.followersSec{
    margin: 10px;
    
}



div.scrollEvents {
    overflow: auto;
    white-space: nowrap;
    height: 355px;
    overflow-y: hidden;
}

div.scrollEvents a {
    display: inline-block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}



.titleInfo{
	height: 164px;
}



.titleSec{
	font-size: 30px;
	font-weight: 600;
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
}

.newsfeed{
	float: left;
	width: 100%;
}


.mainField{

	background-color: white;
	width: 100%;
	float: left;
}


.unfollowState{
	display: none;
}

.followingState{
	display: block;
}

#follow_form{
	width: 37%;
}

.buttonGroupHov:hover{
	.unfollowState{
		display: block;
	}
	.followingState{
		display: none;
	}

}



.followGroupBtn{
	background-color: #4eb6dc;
	border-radius: 3px;
	padding: 12px 29px;
}

.followGroupBtn:hover{
	background-color: #29c10f;
}


.unfollowGroupBtn{
	background-color: #4eb6dc;
	border-radius: 3px;
	height: 45px;
    width: 150px;
}

.unfollowGroupBtn:hover{
	background-color: #4eb6dc;
}


.module1{
	padding-bottom: 20px;
	height: 350px;
	border-radius: 5px;
	box-shadow: 0px 0px 1px;
	background-color: white;
}



.groupImage2{
    border-radius: 8px;
    height: 150px;
}


.groupImageCover{
	width: 100%;
    height: 200px;
    object-fit: cover;
	border-radius: 4px 4px 0px 0px;
}


.connArea{
	position: relative;
    top: -85px;
}


.groupInfoSec{
	text-align: left;
	padding: 10px;
}

.groupTitle{
	font-size: 32px;
	font-weight: 300;
	padding-bottom: 10px;
}


.noFollowSec{
	margin: 5px;
    border-radius: 5px;
    height: 100px;
    width: 260px;
    text-align: center;
}

.noFollowSecText{
	padding-top: 30px;
	font-size: 18px;
	font-weight: 300;
	margin-left: 30px;
	margin-right: 30px;
}



/* Newsfeed Start */
.latestPostSec{
    box-shadow: 0px 0px 0px 1px #dedddd;
    border-radius: 5px;
}

.postImageCover{
	width: 100%;
	border-radius: 4px 4px 0px 0px; 
}

.infoSection{
	padding: 15px;
}

.postContent{
	font-size: 16px;
}

.postUserSec{
	float: left;
	width: 100%;
}



.userSignWithin{
	padding: 6px;
    height: 42px;
}



.imageUserPost{
	width: 8%;
	float: left;
}

.userImage2{
    border-radius: 300px;
    height: 30px;
    border: 1px black solid;
}

.contentUserPost{
	width: 85%;
	float: left;
    margin-top: 4px;

}

.poster{
	font-size: 12px;
	color: #6d6d6d;
}

.posterDate{
	font-size: 12px;
	color: #6d6d6d;
}

.laterPostBox{
	margin-top: 5px;
	margin-bottom: 22px;
	 box-shadow: 0px 0px 0px 1px #dedddd;
    border-radius: 5px;
    float: left;
    width: 100%;
    
}

.imageSubPost{
	width: 50%;
	float: left;
}

.postImageCover2{
	width: 100%;
	border-radius: 4px 0px 0px 4px; 
}

.contentSubPost{
	width: 50%;
	float: left;
}

.postContent2{
    font-size: 14px;
    margin: 15px;
    margin-left: 10px;

    height: 80px;
}


.userSignMini{
	margin-left: 2px;
	margin-bottom: 5px;
}


.imageMini{
	padding-right: 3px;
	padding-left: 3px;
}


.userImage3{
    border-radius: 300px;
    height: 15px;
    border: 1px black solid;
}

.poster{
	font-size: 12px;
	color: #6d6d6d;
}


.posterDate{
	font-size: 12px;
	color: #6d6d6d;
}



.showAllPosts{
	padding: 10px;
	text-align: center;
}

.btnShowAll{
	background-color: white !important;
	color: black !important;
	outline: none !important;
}

/* Newsfeed End */


/* Events Start */
.userEvents{
    margin: 5px;
}


.eventImage1{
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px;
}

.eventContent{
	padding-top: 10px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

.titleGroups{
	font-size: 20px;
	font-weight: 600;
	text-align: left;
}

.creatorSign{
	width: 100%;
	height: 42px;
	text-align: left;
	padding: 6px;
}



.imageUserEvent{
	width: 10%;
	float: left;

}

.userImage2{
    border-radius: 300px;
    height: 30px;
    border: 1px black solid;
}

.contentUserPost{
	width: 85%;
	float: left;
    margin-top: 4px;

}

.poster{
	font-size: 12px;
	color: #6d6d6d;
}


.noFollowSec{
	margin: 5px;
    border-radius: 5px;
    height: 100px;
    width: 260px;
    text-align: center;
}

.noFollowSecText{
	padding-top: 30px;
	font-size: 18px;
	font-weight: 300;
}


.newsfeed{
	float: left;
	width: 100%;
	margin-bottom: 25px;
}


.posterMini{
	font-size: 12px;
}

.posterDateMini{
	font-size: 10px;
}
/* Events End */
.showAllIcon{
	display: none;
}

.iconMob{
	display: none;
}

.nothing{
	margin: 30px;
	font-size: 20px;

    font-weight: 600;
}

@media screen and (max-width: 776px){

	.mobInt{
 		display: none;
	}
	.eventOverall{
		top: -64px;
	}

	.eventContent1{
		top: -61px;
	}

	.eventDateI{
		font-size: 16px;
	}

	.nothing{
		margin: 30px;
	}

	.groupTitleDisc{
		padding-bottom: 25px;
	    font-weight: 700;
	    font-size: 20px;
	    margin: 5px;
	    margin-top: 10px;
	    white-space: normal;
	    text-align: left;

	}

	div.scrollGroupsI{
		height: 230px;
	}

	.groupImageI{
		border-radius: 5px;
	    background-color: white;
	    box-shadow: 0px 0px 1px;
	    
	}

	.groupImageI{
		border-radius: 5px;
		width: auto;
		height: 170px;
	    background-color: white;
	    box-shadow: 0px 0px 1px;
	    
	}
	.nav-tabs > li{
		width: 50%;
	}

	.nav-tabs{
		padding-top: 10px;
    	padding-bottom: 5px;
	}

	.posterMini{
		font-size: 10px;
	}
	.iconMob{
		display: block;
	}

	.btnShowAll{
		font-size: 20px;
	}
	.showAllIcon{
		height: 120px;
	    display: block;
	    margin: auto;
	    width: 50%;
	    padding-top: 15px !important;
	    padding-bottom: 10px !important;

	}

	/* Newsfeed Start Mob */

	.contentSubPost{
		width: auto;
		text-align: left;
		float: none;
		white-space: normal;
	}

	.imageSubPost{
		width: auto;
		float: none;
	}

	.laterPostBox{
		margin-bottom: 0px;
	}

	.poster{
		font-size: 12px;
	}

	.imageUserPost{
		width: 11%;
	}

	.postMob{
		padding-left: 0px;
		padding-right: 0px;
	}

	.postContent{
		font-size: 14px;
	}

	.postImageCover{
		border-radius: 5px 5px 0px 0px;
	}

	.postImageCover2{
		width: 100%;
    	border-radius: 4px 4px 0px 0px;
	}

	.latestPostSec{
		margin-bottom: 20px;
		border-radius: 5px;
		margin: 8px !important;
	}


	div.latestPostSec2{
		overflow: auto;
	    white-space: nowrap;
	}


	div.latestPostSec2 a {
	    display: inline-block;
	    color: white;
	    text-align: center;
	    padding: 8px;
	    padding-top: 10px;
	    text-decoration: none;
	    width: 60%;
	}


	/* Newsfeed End Mob */


	.groupImageCover{
		border-radius: 0px !important;
	}
	.followerNameSec{
		font-size: 14px;
	}
	.groupImage2{
		height: 110px;
	}
	.titleSec{
	    font-size: 22px;
	    margin-top: 10px;
	    margin-left: 10px;
	    margin-right: 10px;
	    margin-bottom: 5px;
	}

	.unfollowGroupBtn{
		padding: 10px 14px;
	}
	.groupTitle{
		font-size: 25px;
	}
	.groupInfoSec{
		width: 60%;
		float: left;
	}
	.mainField{
		border-radius: 0px;
	}
	.module1{
		height: 344px;
		border-radius: 0px;
		box-shadow: 0px 0px 0px;
	}
	.groupImageSec1{
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 12px;
		margin-bottom: 10px;
	}
	.groupImage1{
		height: 130px;
	}
	.titleInfo{
		padding-left: 0px;
		padding-right: 0px;
	}
	.mobileArea{
		padding-left: 0px;
		padding-right: 0px;
	}
	.groupImageCover{
		height: 180px;
	}

	.connArea{
		padding-left: 0px;
		padding-right: 0px;
		top: 0px;
		width: 40%;
		float: left;
	}

	/* Events Starts */

	div.scrollEvents {
	    overflow: auto;
	    white-space: nowrap;
	    height: 260px;
	    overflow-y: hidden;
	}

	div.scrollEvents a {
	    display: inline-block;
	    color: white;
	    text-align: center;
	    padding: 5px;
	    text-decoration: none;
	}

	.mainField{
		box-shadow: 0px 0px 0px ;
	}


	.eventImage1{
		height: 170px;

	}

	.titleGroups{
		font-size: 16px;
	}

	.imageUserEvent{
		width: 14%;
	}

	.poster{
		font-size: 12px;
	}

	.noFollowSec{
		margin-left: 15px;
	}

	/* Events End */
}

































