

@media screen and (max-width: 776px){
	.backButton{
		float: left;
	    background-color: white;
	    margin: 17px;
	    position: absolute;
	    border-radius: 100px;
	    -webkit-transition: 0.3s;
	    transition: 0.3s;
	    z-index: 100;
	    margin-left: 5px;
	}
	.discoverNum{
		font-size: 10px;
		padding: 5px;
		color: #a0a0a0;
	}
	.userImagesDisc img{
		width: 100% !important;
	}

	.userImagesDisc{
		border-radius: 8px 8px 0px 0px;
	}

	.discoverName{
		font-size: 14px;
	}




	.testMargeMore{
		padding: 0px 15px 20px 15px;
	}
	.boxGMod{
		height: 220px !important;
	}
	.sharedIntsG{
		color: #a4a4a4;
	    text-align: left;
	    font-size: 12px;
	}
	.groupTitleDiscG{
		font-size: 14px;
		padding: 10px 8px 4px 8px;
	}
	.marginSetsC{
		height: 120px;
	}
	.sharedInts{
		color: #a0a0a0;
	    font-size: 12px;
	    margin-top: -72px;
	}
	.groupTitleDisc{
		top: -72px;
    	font-size: 16px;
	}
	.eventContentDisc{
		top: -62px;
	}
	.eventDateDisc{
		font-size: 16px;
	}

	.elementBox{
		height: 250px;
	}
	.mobileVE{
		margin-top: 10px;
	}

	.eventImage{
		height: 190px;
		border-radius: 11px 11px 0px 0px;
	}


	.testMargeMoreMain{
		font-weight: 900;
	    font-size: 16px;
	    margin-top: 50px;
	    padding-left: 10px;
	    height: auto;
	    padding-right: 20px;
	    top: 0px;
	}

	.userImages{
		border-radius: 8px 8px 0px 0px !important;
	}


	.friendsInDiscover{
		font-size: 10px;
	    font-weight: 900;
	    padding: 5px;
	    margin: 0px;
	    text-align: left;
	    color: #a0a0a0;
	}

	.followerNameSec2{
		font-size: 8px;
	    font-weight: 900;
	    padding:  5px;
	    margin: 0px;
	    text-align: left;
	    color: #a0a0a0;
	}
	.followerNameSec{
		margin: 5px;
	    font-weight: 900;
	    text-align: left;
	}
	.userImages img{
		width: 110px !important;
	}

	.elementBoxPpl{
	  box-shadow: 0px 0px 4px 0px #e2e2e2;
	  border-radius: 8px;
	  padding-bottom: 10px;
	  transition: box-shadow .3s;

	}

	.elementBoxPpl:hover{
	  box-shadow:0 0 11px rgba(33, 33, 33, 0.2);
	}

	.titleSec{
		font-size: 18px;
		margin: 15px 0px;
	}

	.scrolling-wrapper {
	  display: flex;
	  flex-wrap: nowrap;
	  -webkit-overflow-scrolling: touch;
	  overflow-x: auto;
	  &::-webkit-scrollbar {
	    display: none;
	  }

	  .elementBoxPpl {
	    flex: 0 0 auto;
	    margin: 5px;
	
	  }
	}


	.section{
		width: 100vw;
	}
	.lp_main_image {
    	height: 100vh;
	    width: 100vw;
	    -o-object-fit: cover;
	    object-fit: cover;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    opacity: 0.6;
	}

	.interestsImages{
		height: 200px;
    	width: 150px;
	}

	#movie-area{
		width: 100vw;
	}
	.lp_container{
		margin-left: 0px !important;
		margin-right: 0px !important;
		width: 100vw;
	}
	.mobile_lp{
		width: 100vw;
	}
	.section{
		float: none;
	}

	.lp_footer {
	    float: left;
	    width: 100vw;
	     height: auto;
	     margin-top: 90px; 
	    border-top: 1px solid #0000001a;
	}

	.legalLinks{
		font-size: 14px !important;
	}

}
