/*// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


@media (min-width: 768px) {
  .modal-dialog {
    width: 50%;

  }

}






.grid {
   display: grid;
   grid-gap: 10px;
   grid-template-columns: repeat(auto-fill, minmax(320px,1fr));
   grid-auto-rows: auto;
}



.title{

  font-size: 50px;
  color: white;
  z-index: 100;
  font-weight: 700;

    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


.titleSub{

  font-size: 20px;
  color: white;
  z-index: 100;
  font-weight: 600;
  position: absolute;
  top: 34%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}




.button{
  position: absolute;

  font-size: 20px;
  color: white;
  z-index: 100;
  text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}



.btnFront{
  border-radius: 8px;
  color: white;
  background-color: #6c95af;
    outline: none !important;
    border-color: transparent;
      padding: .75em 7em;
      font-size: 16px;
      font-weight: 700;
      box-shadow: 0px 0px 3px 0px black;
      transition: all .2s ease-in-out;

}


.btnFront:hover{
  transform: scale(1.1);

}




.slider {
  width: 100%;
  height: 100vh;
  position: relative;
}
.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
}

@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}




.scrollMembers::-webkit-scrollbar-track {
  background: none;
}

.scrollMembers::-webkit-scrollbar {
  height: 10px;
}


.scrollMembers::-webkit-scrollbar:active {
  height: 30px;
}



.scrollMembers::-webkit-scrollbar-thumb {
  background: rgb(212, 224, 231);
  border-radius: 5px;
}

.ImageIDer{
  height: 25px;
  float: right;
}

.titleSec {
  font-size: 30px;
  font-weight: 600;
  margin: 15px 0px;
  margin-bottom: 10px !important;
}


.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


.followerNameSec{
  font-size: 12px;
    font-weight: 200;
    margin: 10px;
}

.followersSec{
  margin: 10px;
}

.userImg{
  height: 100px;
  border-radius: 8px;
}


div.scrollMembers {
    overflow: auto;
    white-space: nowrap;
    height: auto;
    overflow-y: hidden;
}

div.scrollMembers a {
    display: inline-block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

#modalPostImage img{
  border-radius: 10px 10px 0px 0px;
}

/*end*/





.bottomSign{
  padding-right: 3px;
}

.userImageModal{
  padding-right: 3px;
}

.userImageModal img{
    height: 30px;
    border-radius: 50%;
}
.modal-footer{
  padding: 0.75rem 1.25rem;
  text-align: left;
}


div.col-md-6.post-image-background{
  height: 130px;
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
}

.noPad1{
  padding-left: 0px !important;
}


.noPad2{
  padding-right: 0px !important;
}



div.scrollEvents {
  overflow: auto;
  white-space: nowrap;
  height: 355px;
  overflow-y: hidden;
}

div.scrollEvents .card {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;

}


.modal-body{
  padding: 0;
}

.modal-header.row{
  margin:0;
}

.modal-title{
  padding:0;
}

#modalPostBody{
  padding: 15px;
  font-weight: 600;
  &:empty{
    display:none;
  }
}

.card-footer i.launch-modal{
  font-size: 20px;
  float:right;
  cursor: pointer;
}

.card-footer i.launch-modal:hover{
  color: #4c4c4c;
}

#modalPostImage img {
  width: 100%;
}

div#modalPostImage {
  width: 100%;
}

/* MASONRY */

.grid-item, .grid-sizer {
  width: calc(33.33% - 10px);
  margin-bottom: 10px;
}

@media screen and (max-width: 1200px){
  .grid-item, .grid-sizer {
    width: calc(50% - 10px);
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 776px){
  .grid-item, .grid-sizer {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* END MASONRY */


/* CARDS */
img.userImage2 {
  height: 30px;
  border-radius: 10px;
  padding-right: 2px;
}

/* BOOTSTRAP */

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.75rem;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
  font-weight: 600;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: white;
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.75rem - 1px) calc(0.75rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.75rem - 1px);
  border-top-right-radius: calc(0.75rem - 1px);
}

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-deck {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.card-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-group > .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-group {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .card-group > .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

.accordion > .card {
  overflow: hidden;
}

.accordion > .card:not(:first-of-type) .card-header:first-child {
  border-radius: 0;
}

.accordion > .card:not(:first-of-type):not(:last-of-type) {
  border-bottom: 0;
  border-radius: 0;
}

.accordion > .card:first-of-type {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion > .card:last-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion > .card .card-header {
  margin-bottom: -1px;
}

/* END CARDS */


/* Post Sec Start */
.latestPostSec {
  box-shadow: 0px 0px 0px 1px #dedddd;
  border-radius: 5px;

}


.postContent {
  font-size: 16px;
}


.laterPostBox {
  margin-top: 5px;
  margin-bottom: 22px;
  box-shadow: 0px 0px 0px 1px #dedddd;
  border-radius: 5px;
  float: left;
  width: 100%;
}

/* Post Sec End */


.sec1 {
  margin-top: 20px;
}

.sec1H {
  text-align: left;
  font-size: 45px;
  font-weight: 100;
}

.sec1S {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
}

.userImageShow {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}


@media screen and (max-width: 776px){
  .btnFront{
    font-size: 15px;
  }
  .title{
        font-size: 27px;
  }
  .titleSub{
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-weight: 700;
  }
  .scrollMembers::-webkit-scrollbar {
    height: 5px;
  }
  .mobNavs{
    padding-left: 5px;
    padding-right: 5px;
  }
  .titleSec{
    font-size: 20px;
  }
  .followerNameSec{
    font-weight: 700;
  }
  .userImg{
    height: 85px;
  }
  .followersSec{
    margin: 5px;
  }

  .pencilButton{
    display: none !important;
  }

  .scrollMembers{
    padding-left: 0px;
    padding-right: 0px;
  }
}




