/*// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/



/* Select Panel Start */

.connectBtn{
  font-size: 18px;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid #508cf721;
  outline: none !important;
  color: #508CF7;
  background-color: #e7f3ff;
}

.connectBtn:hover{
  background-color: #508CF7;
  color: white !important;
  opacity: 1;
  transition: 0.3s;
}

.noReqText{
  font-size: 20px;
  margin-top: 20px;
}




.noReqArea2{
   margin-top: 15%;
}

.noReqArea{
  margin-top: 10%;
}

.noReqIcon{
  width: 190px;

}
li.nav-item{
  width: 100%;
}


.nav-pills > li.active > div, .nav-pills > li.active > div:hover, .nav-pills > li.active > div:focus{
      color: #508CF7;
    background-color: #e7f3ff;
   
}




.tab-content > .active{
      display: block !important;
}

.nav-pills{
   margin-top: 10px;

  font-size: 20px;
}

.nav-link {
  padding: 10px;
   border-radius: 8px;
  font-weight: 600;
  font-size: 18px;
}


.col-md-20{
  width: 25%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.selectPanel{

    border-right: 1px solid rgba(0, 0, 0, .10);
 
    padding-left: 5px;
    padding-right: 5px;

    border-right: 1px solid rgba(0, 0, 0, 0.1);
    /* height: 100%; */
    padding-left: 5px;
    padding-right: 5px;

    /* width: 150px; */
    top: 55px;
    bottom: 0;
    width: 25%;
    float: left;

    position: fixed;
    overflow-y: scroll;

}

.notificationPanel{
    width: 75%;
    float: left;
    position: fixed;
    overflow-y: scroll;
    left: 25%;
    height: 100vh;
     padding-bottom: 80px;
}
  

.section{
      width: 75%;
      height: 100vh;

      overflow:scroll;
      position: fixed;

      padding-left: 15px;
      padding-right: 15px;
      top: 55px;
      padding-bottom: 80px; 
     

}

/* Select Panel End */


.newEvent{
    text-align: left;
    width: 100%;
    padding: 5px 8px 4px 8px;
    position: relative;
    font-weight: 900;
    top: -75px;
    font-size: 16px;
    white-space: normal;
    color: #508CF7;

}

.acceptButton{

    margin-top: 10px;
    width: 100%;
    text-align: center;
    background-color: #508cf7;
    font-weight: 900;
    white-space: normal;
    color: white;
    border: 0px !important;
    border-radius: 5px;
    padding: 6px;

}

  .discoverNum{
    font-size: 12px;
    padding: 0px 5px;
    color: #4f8cf7;
    font-weight: 900;
  }

  .discoverName{
    font-size: 18px;
    padding: 5px;
    color: black;
    font-weight: 900;
  }


  .discoverTitleSec {
    position: relative;
    border-radius: 0px 0px 5px 5px;
  }

.elementBoxPpl{
  box-shadow: 0px 0px 4px 0px #e2e2e2;
  padding-bottom: 20px;
  border-radius: 11px;
  transition: box-shadow .3s;
  margin-top: 30px;
}

.elementBoxPpl:hover{
  box-shadow:0 0 11px rgba(33, 33, 33, 0.2);
  
}

.peopleImage{
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}


.testMarge{
  padding:20px;
}


.groupImageDisc{
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  background-color: white;
    
}

.groupTitleDisc{
    text-align: left;
    width: 100%;
    padding: 15px 8px 4px 8px;
    position: relative;
    font-weight: 900;
    top: -75px;
    font-size: 18px;
    white-space: normal;
    color: black;

}
.eventDateDisc{
  text-align: left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 800;
    font-size: 20px;
    white-space: normal;
    color: white;
}


.eventContentDisc{
    position: relative;
         top: -68px;
    /* background-color: #00000054; */
    padding: 10px;
    /* opacity: 0.8; */
 
        background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.08) 3%, #4a4a4a91 100%) !important;
} 



.elementBox{
  box-shadow: 0px 0px 4px 0px #e2e2e2;
  height: 310px;
  border-radius: 11px;
  transition: box-shadow .3s;
}

.elementBox:hover{
  box-shadow:0 0 11px rgba(33, 33, 33, 0.2);
  
}


.specialA:hover{
  color: white;
  text-decoration: none !important;
  color: white;
}



.interestTitleSec {
    position: relative;
    top: -32px;
    /* background-color: #00000054; */
    /* opacity: 0.8; */
    border-radius: 0px 0px 6px 6px;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.08) 3%, #4a4a4a91 100%) !important;
}


.interestName{


        font-size: 16px;
    padding: 5px;
    color: white;
    font-weight: 900;
}



.interestNameBlack{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 900;
    color: black;
    position: relative;
    top: -64px;
}



.noNotifs{
  width: 100px;
  margin: 20px;
}


.newNotifs{
	padding: 8px 15px;
	background-color: #6c95af;
	border-radius: 100px;
	color: white;
	margin-left: 15px;
}


.notifDate{
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
	margin-top: 10px;
}




.introInner{
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 10px;
}

.notifTitle{
	font-size: 18px;
	font-weight: 700;
}





.imageSec{
	width: 45%;
	float: left;
}
.interestImage{
	width: 100%;
	border-radius: 5px;
}


.interestImageEventUnseen{
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 3px #6c95af;
}

.interestImageEventSeen{
  width: 100%;
  border-radius: 8px;
  border: 0px;
}

.notifModuleT{
	margin-top: 5px;
    margin-bottom: 22px;
    box-shadow: 0px 0px 0px 1px #dedddd;
    border-radius: 5px;
    float: left;
    width: 100%;
}

.titleSecSub {
  font-size: 20px;
  font-weight: 900;
  margin: 20px;
  margin-bottom: 10px !important;
}

.topTitle2{
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 700;
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (max-width: 776px) {


  .topTitle2{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 900;
  }
  .testMarge{
    padding: 15px 10px;
  }

	.titleSec{
		font-size: 20px;
	}

	.titleSecSub{
    margin: 0px;
		font-size: 14px;
	}
	.noPad3{
    	padding-left: 0px !important;
    	padding-right: 0px !important;
  	}
  	.introInner{
  		display: none;
  	}

  	.interestImage{
  		height: 180px;
  		object-fit: cover;
  	}

  	.notifTitle{
  		font-size: 14px;
  		margin-top: 8px;
  	}

  	.notifDate{
  		font-size: 14px;
  	}


  	.groupName{
  		font-size: 12px;
  	}

}




































