

@media screen and (max-width: 776px) {

  .iconImage{
      height: 45px;
      border-radius: 300px;
    }
  .coverImage {
    border-radius: 11px 11px 0px 0px;
  }

  .groupImageCover img{
    border-radius: 11px 11px 0px 0px;
  }

    .groupTitleDisc{
    text-align: center;
    font-size: 17px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 5px;

  }


    .groupImageMobile img{
    height: 110px !important;
    width: 110px !important;
    margin: auto;
    border-radius: 15px;
  }

  .groupImageMobile{
    border-radius: 15px;
    position: relative;
  }

    .coverImage img {
      height: 150px;
      object-fit: cover;
  }
  .coverImage{
    height: 150px;
  }

    .groupImageSec1{
    width: 110px !important;
        margin: 0 auto;
            margin-top: -50px;
  }



  .elementBoxMob{
    width: 100%;
    box-shadow: 0px 0px 4px 0px #e2e2e2;
      height: auto;
      border-radius: 11px;
      -webkit-transition: box-shadow .3s;
      transition: box-shadow .3s;
      padding-bottom: 15px;
  }


  .avatarInfo{
    margin-bottom: 50px;
  }


  .radio-toolbar label{
    width: 100% !important;
  }

  #user_date_of_birth_2i{
    width: 95%;
  }

  .fileBtnDiv, .form-control{
    width: 95% !important;
  }




  .infoOnLocation{
    font-size: 14px;
    font-weight: 800;
    padding-top: 3em;
  }
  .discoverName{
    font-size: 14px;
  }
  .discoverNum{
    font-size: 12px;
  }
  .elementBoxPpl{
    margin-bottom: 5px;
  }

  .testMargeIn{
    padding: 20px 20px 20px 20px;
    box-shadow: 0px 0px 4px 0px #e2e2e2;
    border-radius: 8px;
    position: relative;
    top: -100px;
  }

  .interestsSection {
    margin-bottom: 25px;
    float: left;
    width: 100%;
    margin-top: -122px !important;
  }

  .titleSecNonF{
    width: auto;
  }
  .titleSecInts {
    font-size: 15px;
    margin-top: 18px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: #6d95af;
  }
  .userEventsNonF{
        height: 350px;
    opacity: 0.3;
    filter: blur(8px);
    -webkit-filter: blur(5px);
  }
  .leftArrow {
    height: 50px;
    padding: 10px;
}
  .backButton{
    float: left;
    background-color: white;
    margin: 17px;
    position: absolute;
    border-radius: 100px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 100;
    margin-left: 5px;
  }
  
/* Rework Start */
  .editContent{
    margin-top: 10px;
  }

  .form-control, .btn {
      font-weight: 700;
      font-size: 12px;
      width: 100%;
  }
  .boxGMod{
    width: 220px !important;
  }

  div.scrollMembersEvents{
    height: 340px;
  }
  div.scrollMembersInterests{
    height: 200px;
    padding-right: 10px;
  }


  .elementBox {
    width: 275px;
  }

  .userInfoElementMore{
    box-shadow: 0px 0px 4px 0px #bdbdbd;
  }
  .userInfoElement{
    box-shadow: 0px 0px 0px 0px;
    margin-top: 0px;
        padding: 10px 10px;
  }
  .userInfoTitle{
    margin: 20px 5px 5px 5px;
  }
  .userInfoArea{
    top: -100px;
    margin-top: 5px;
  }
  .userImageCover {
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }

  .innerModule {
    position: relative;
    width: 100%;
    float: left;
    margin-top: 10px;
    box-shadow: 0px 0px 0px 0px;
    background-color: white;
  }

  .module1 {
    border-radius: 0px;
    height: auto !important;
    width: auto !important;
    padding-left: 0px;
    padding-right: 0px;
  }


  .scrollNorm{
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    float: left;
    position: initial !important;
  }

  .eventsSection{
    margin-top: -122px;
  }


/* Rework End */



  .mobText{
    font-size: 10px;
  }
  .textOps {
      font-size: 9px;
      margin-top: 5px !important;
      margin-bottom: 0px;
  }
  .interestTitleSec{
    top: -27px;
  }
  .interestName {
    font-size: 12px;
    padding: 5px;
    color: white;
    font-weight: 900;
  }

  .interestNameNotF {
    font-size: 14px;
    padding: 5px;
    color: white;
    font-weight: 900;
    text-align: left;
  }



  .newsfeed {
    margin-bottom: 10px;
  }

  .mainField{
    margin-bottom: 10px;
  }

  .createAvatar{
    padding-left: 5px;
    padding-right: 5px;
  }


  .createAvatar2{
    padding-left: 5px;
    padding-right: 5px;
  }



  .userImgDisc {
    position: relative;
    width: 100%;
    height: 180px;
        border-radius: 8px 8px 0px 0px;
  }

  .interestImage {
    object-fit: cover;
    width: 100%;
    height: 180px;
    box-shadow: 0px 0px 0px 0px !important;

  
  }


  .interestImageNotF {
    object-fit: cover;
    width: 160px;
    height: 180px;

  
  }



  .noPad8PX{
    padding-bottom: 10px;
  }



  .discoverNum{
    font-size: 14px;
    padding: 0px 5px;
    color: #6d95b0;
    font-weight: 900;
  }

  .fileBtnDiv{
        padding: 1rem 0px;
        font-size: 12px;
  }
  .fileBtnDiv, .form-control{
    margin: 18px 0;
    font-weight: 700;
  }
  .section1{
    float: left;
    width: 100%;
  }
  input.checkDist{
    padding: 0px;
  }
  .checkmark{
    left: 12px;
    height: 28px;
    width: 28px;
  }
  .disclaimer{
    font-size: 12px;
  }
  .con{
    font-size: 12px;
        padding-left: 51px;
  }
  .create{
        padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .fileBtnSubmit {
     width: 100%;
  }


  .fileBtnSubmit2 {
     padding: 1rem 0px;
  }
     
     

  #map{
    border-radius: 5px !important;
    height: 150px !important;

  }

  .userDistance{
    font-size: 16px;
  }
  .avatarImage{
    left: calc(50% - 19%);
    height: 140px; 
    width: 140px;
  }
  .avatarImage2{
    left: calc(50% - 19%);
    height: 140px; 
    width: 140px;
  }
  .topTitle2{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 900;
  }

  .editsText{
    display: none;
  }

  .fixedState{
    right: 15px;
    bottom: 25px;
    width: 170px;
    text-align: center;

  }




  .fixedStateSkip{
    left: 12px;
    /* right: 218px; */
    bottom: 31px;
    width: 130px;
    width: 90px;
    text-align: center;

  }

  .fileBtnDiv{
    margin: 20px 0px;
  }

  .formSec{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -70px;
  }


  .imgCover{
   height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }

  .cUser{
    width: 50% !important;
    margin: 0px !important;
  }


  .minPadR{
    padding-right: 4px !important;
    padding-left: 0px !important;
  }



  .mobButton{
    width: 100%;
    padding: 10px 15px;
  }
  .panel{
    padding: 5px;
  }
  .allPostsDialog{
    width: 92% !important;
  }
  .laterPostBoxMob {
    display: block !important; 
    margin-top: 5px;
    margin-bottom: 22px;
    box-shadow: 0px 0px 0px 1px #dedddd;
    border-radius: 5px;
    float: left;
    width: 94%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 11px;
  }
  .specialC{
    display: block !important;
  }
  .latestPostSec2{
    display: none;
  }
  .scrollEvents::-webkit-scrollbar {
    height: 5px;
  }

  .scrollGroups::-webkit-scrollbar {
    height: 5px;
  }
  .innerModule2{
    position: relative;
    width: 100%;
    float: left;
    height: 480px;
  }

  .connectBtn{
    width: 90%;

  }

  #follow_form{
    width: 100%;
  }

  .followBtn{
    left: 0px;
    width: 100%;
    margin-top: 26px;
    margin-bottom: 20px;
  }

  .interestSec{
    margin-top: 20px;
    float: left;
    width: 100%;

  }

  
  .mobNavs{
    padding-right: 0px;
    padding-left: 0px;
  }
  .subPost{
    width: 200px;
  }

  .noPad1{
    padding-left: 4px !important;
    padding-right: 4px !important;
  }

  .noPad2{
    padding-left: 3px !important;
    padding-right: 3px !important;
  }



  .eventDateI {
    font-size: 16px;
  }
  .eventOverall {
    top: -64px;
  }
  .eventContent1 {
    position: relative;
    top: -62px;
    /* background-color: #00000054; */
    padding: 10px;
    /* opacity: 0.8; */

    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.01) 3%, #4a4a4a91 100%) !important;
  }
  .posterMini {
    font-size: 10px;
  }
  .iconMob {
    display: block;
  }

  .btnShowAll {
    font-size: 12px;
  }
  .showAllIcon {
    height: 120px;
    display: block;
    margin: auto;
    width: 50%;
    padding-top: 15px !important;
    padding-bottom: 10px !important;

  }

  .imageUserGroup {
    width: 20%;
  }

  .userSignMini {
    text-align: left;
    margin-bottom: 10px;
  }

  .poster {
    font-size: 12px;
    font-weight: 900;
  }
  .postContent2 {
    white-space: normal;
    text-align: left;
    height: auto;
    margin: 10px;
    height: 65px;
  }
  .postTitle2 {
    margin: 10px !important;
    text-align: left;
  }
  .posterDate2 {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
  }
  .postImageCover2 {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
  }
  .contentSubPost {
    float: none;
    width: 100%;
  }
  .imageSubPost {
    float: none;
    width: 100%;
  }
  .postContent {
    font-size: 14px;
  }
  .postTitle {
    font-size: 18px;
  }
  .laterPostBox {
    margin-bottom: 0px;
  }
  .latestPostMain1 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .addImage {
    height: 40px;
    float: right;
    position: absolute;
    right: 74px;
    outline: none;
    top: 115px;
  }
  .latestPostSec {
    margin-bottom: 20px;
    border-radius: 5px;
    margin: 8px !important;
  }
  .imageUserPost {
    width: 11%;
  }
  .postImageCover {
    border-radius: 5px 5px 0px 0px;
  }
  .postMob {
    padding-right: 0px;
    padding-left: 0px;
  }
  .titleSec {
    font-size: 22px;
    margin-top: 18px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-weight: 900;
  }


  .innerModuleAvatar {
    position: relative;
    width: 100%;
    float: left;
    height: 236px;
  }
  .mainField {
    border-radius: 0px;
  }



  .connArea {
    top: -84px;
    position: relative;
  }

  .connArea2 {
    position: relative;
    top: -84px;
  }

  .userImage1 {
    border-radius: 15px;
    height: 140px;
    width: 140px;
    object-fit: cover;
  }

  .subArea {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
  }
  .connArea {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
  }

  .gJoined {
    margin-left: 0px;
    margin-right: 0px;
  }

  .userPosts {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .createSec {
    width: 100%;
    float: left;
    text-align: center;
  }

  .createButton {
    width: 97%;
    height: 60px;
  }

  .gJoinedMob {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }

  .moreSec {
    width: 100%;
    float: left;
    padding-bottom: 20px;
  }

  .listSec {
    padding-bottom: 0px;
  }

  .groupTitle {
    text-align: left;
  }


  div.scrollEvents {
    overflow: auto;
    white-space: nowrap;
    height: 290px;
    overflow-y: hidden;
  }

  div.scrollEvents a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }


  div.scrollGroups {
    overflow: auto;
    white-space: nowrap;
  }

  div.scrollGroups a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }
  .imageUserEvent {
    width: 16%;
  }


  .btnActions {
    font-size: 12px;

  }



  .postTitle2 {
    font-size: 16px;
  }

  .postContent2 {
    font-size: 12px;
  }
  .userName {
    font-size: 20px;
  }
  .titleGroups {
    font-size: 16px;
  }

  .buttonsActionMob {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .mainField {
    box-shadow: 0px 0px 0px;
  }

}
