<p id="notice"><%= notice %></p>



<%= image_tag(@event_post.image_url(:thumb)) if @event_post.image? %>

<p>
  <strong>Content:</strong>
  <%= @event_post.content %>
</p>


<p>
  <strong>Group:</strong>
  <%= @event_post.event.title %>
</p>

<hr>



<hr>

